In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('kaggle_survey_2020_responses.csv')

C:\Users\Tuong P\AppData\Local\Temp\ipykernel_47680\2076118365.py:4: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('kaggle_survey_2020_responses.csv')

In [2]:
print(df.head())

  Time from Start to Finish (seconds)                           Q1  \
0               Duration (in seconds)  What is your age (# years)?
1                                1838                        35-39
2                              289287                        30-34
3                                 860                        35-39
4                                 507                        30-34

                                       Q2  \
0  What is your gender? - Selected Choice
1                                     Man
2                                     Man
3                                     Man
4                                     Man

                                          Q3  \
0  In which country do you currently reside?
1                                   Colombia
2                   United States of America
3                                  Argentina
4                   United States of America

                                                  Q4  \
0  What is the highest level of formal education ...
1                                    Doctoral degree
2                                    Master’s degree
3                                  Bachelor’s degree
4                                    Master’s degree

                                                  Q5  \
0  Select the title most similar to your current ...
1                                            Student
2                                      Data Engineer
3                                  Software Engineer
4                                     Data Scientist

                                                  Q6  \
0  For how many years have you been writing code ...
1                                         5-10 years
2                                         5-10 years
3                                        10-20 years
4                                         5-10 years

                                           Q7_Part_1  \
0  What programming languages do you use on a reg...
1                                             Python
2                                             Python
3                                                NaN
4                                             Python

                                           Q7_Part_2  \
0  What programming languages do you use on a reg...
1                                                  R
2                                                  R
3                                                NaN
4                                                NaN

                                           Q7_Part_3  ...  \
0  What programming languages do you use on a reg...  ...
1                                                SQL  ...
2                                                SQL  ...
3                                                NaN  ...
4                                                SQL  ...

                                        Q35_B_Part_2  \
0  In the next 2 years, do you hope to become mor...
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

                                        Q35_B_Part_3  \
0  In the next 2 years, do you hope to become mor...
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

                                        Q35_B_Part_4  \
0  In the next 2 years, do you hope to become mor...
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

                                        Q35_B_Part_5  \
0  In the next 2 years, do you hope to become mor...
1                                       TensorBoard
2                                                NaN
3                                                NaN
4                                                NaN

                                        Q35_B_Part_6  \
0  In the next 2 years, do you hope to become mor...
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

                                        Q35_B_Part_7  \
0  In the next 2 years, do you hope to become mor...
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

                                        Q35_B_Part_8  \
0  In the next 2 years, do you hope to become mor...
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

                                        Q35_B_Part_9  \
0  In the next 2 years, do you hope to become mor...
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

                                       Q35_B_Part_10  \
0  In the next 2 years, do you hope to become mor...
1                                                NaN
2                                                NaN
3                                               None
4                                                NaN

                                         Q35_B_OTHER
0  In the next 2 years, do you hope to become mor...
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

[5 rows x 355 columns]

In [3]:
df =df.replace(r'\s+( +\.)|#',np.nan,regex=True).replace('',np.nan)

In [4]:
print(df.head(30))

   Time from Start to Finish (seconds)     Q1  \
0                Duration (in seconds)    NaN
1                                 1838  35-39
2                               289287  30-34
3                                  860  35-39
4                                  507  30-34
5                                   78  30-34
6                                  401  30-34
7                                  748  22-24
8                               171196  25-29
9                                  762  35-39
10                                 150  22-24
11                                7469  18-21
12                                 742  35-39
13                                 535  22-24
14                                 378  30-34
15                                 623  30-34
16                                 413  18-21
17                                 397  25-29
18                                 437  22-24
19                                 192  22-24
20                                 267  18-21
21                                3313  22-24
22                                 874  30-34
23                                 815  55-59
24                                 694  35-39
25                                 571  50-54
26                                 723  25-29
27                                 433  18-21
28                                 273  18-21
29                                 545  30-34

                                        Q2  \
0   What is your gender? - Selected Choice
1                                      Man
2                                      Man
3                                      Man
4                                      Man
5                                      Man
6                                      Man
7                                      Man
8                                    Woman
9                                      Man
10                                     Man
11                                     Man
12                                     Man
13                                     Man
14                                     Man
15                                     Man
16                                   Woman
17                                   Woman
18                                     Man
19                                     Man
20                                     Man
21                                   Woman
22                                     Man
23                                   Woman
24                                     Man
25                                     Man
26                                   Woman
27                                     Man
28                                     Man
29                                     Man

                                           Q3  \
0   In which country do you currently reside?
1                                    Colombia
2                    United States of America
3                                   Argentina
4                    United States of America
5                                       Japan
6                                       India
7                                      Brazil
8                                       China
9                                     Germany
10                                      China
11                                      India
12                   United States of America
13                                  Indonesia
14                                     Canada
15                                Switzerland
16                                      India
17                                      Other
18                                  Singapore
19                                      India
20                                      India
21                                      India
22                                     Russia
23                                     Canada
24                               South Africa
25                   United States of America
26                   United States of America
27                                      India
28                                      Egypt
29                                Netherlands

                                                   Q4  \
0   What is the highest level of formal education ...
1                                     Doctoral degree
2                                     Master’s degree
3                                   Bachelor’s degree
4                                     Master’s degree
5                                     Master’s degree
6                                   Bachelor’s degree
7                                   Bachelor’s degree
8                                     Master’s degree
9                                     Doctoral degree
10               No formal education past high school
11                                  Bachelor’s degree
12                                    Doctoral degree
13                                  Bachelor’s degree
14                                  Bachelor’s degree
15                                  Bachelor’s degree
16                                  Bachelor’s degree
17                                  Bachelor’s degree
18                                  Bachelor’s degree
19                                  Bachelor’s degree
20                                  Bachelor’s degree
21                                    Doctoral degree
22                                  Bachelor’s degree
23                                    Master’s degree
24  Some college/university study without earning ...
25                                    Master’s degree
26                                    Master’s degree
27                                  Bachelor’s degree
28                                  Bachelor’s degree
29                                  Bachelor’s degree

                                                   Q5  \
0   Select the title most similar to your current ...
1                                             Student
2                                       Data Engineer
3                                   Software Engineer
4                                      Data Scientist
5                                   Software Engineer
6                                        Data Analyst
7                                             Student
8                                             Student
9                                      Data Scientist
10                                            Student
11                                            Student
12                                 Research Scientist
13                                            Student
14                                      Data Engineer
15                                              Other
16                                            Student
17                             Currently not employed
18                                            Student
19                                            Student
20                                            Student
21                                       Statistician
22                                     Data Scientist
23                            Product/Project Manager
24                                       Data Analyst
25                                  Software Engineer
26                                            Student
27                                            Student
28                                            Student
29                                  Software Engineer

                                                   Q6  \
0   For how many years have you been writing code ...
1                                          5-10 years
2                                          5-10 years
3                                         10-20 years
4                                          5-10 years
5                                           3-5 years
6                                           < 1 years
7                                           3-5 years
8                                           < 1 years
9                                          5-10 years
10                                          < 1 years
11                                          1-2 years
12                                          1-2 years
13                                          < 1 years
14                                          < 1 years
15                                          < 1 years
16                                          1-2 years
17                                          3-5 years
18                                          3-5 years
19                                          1-2 years
20                                          1-2 years
21                                          3-5 years
22                                          < 1 years
23                                          1-2 years
24                                          < 1 years
25                                          20+ years
26                                          1-2 years
27                                          3-5 years
28                                          1-2 years
29                                        10-20 years

                                            Q7_Part_1  \
0   What programming languages do you use on a reg...
1                                              Python
2                                              Python
3                                                 NaN
4                                              Python
5                                              Python
6                                              Python
7                                              Python
8                                                 NaN
9                                              Python
10                                             Python
11                                             Python
12                                                NaN
13                                             Python
14                                             Python
15                                             Python
16                                                NaN
17                                                NaN
18                                             Python
19                                             Python
20                                             Python
21                                                NaN
22                                             Python
23                                             Python
24                                             Python
25                                             Python
26                                             Python
27                                             Python
28                                             Python
29                                             Python

                                            Q7_Part_2  \
0   What programming languages do you use on a reg...
1                                                   R
2                                                   R
3                                                 NaN
4                                                 NaN
5                                                 NaN
6                                                   R
7                                                   R
8                                                   R
9                                                 NaN
10                                                NaN
11                                                  R
12                                                  R
13                                                  R
14                                                NaN
15                                                  R
16                                                  R
17                                                NaN
18                                                NaN
19                                                NaN
20                                                NaN
21                                                  R
22                                                NaN
23                                                NaN
24                                                NaN
25                                                NaN
26                                                  R
27                                                NaN
28                                                NaN
29                                                NaN

                                            Q7_Part_3  ...  \
0   What programming languages do you use on a reg...  ...
1                                                 SQL  ...
2                                                 SQL  ...
3                                                 NaN  ...
4                                                 SQL  ...
5                                                 NaN  ...
6                                                 NaN  ...
7                                                 NaN  ...
8                                                 NaN  ...
9                                                 SQL  ...
10                                                SQL  ...
11                                                SQL  ...
12                                                NaN  ...
13                                                SQL  ...
14                                                SQL  ...
15                                                NaN  ...
16                                                SQL  ...
17                                                SQL  ...
18                                                NaN  ...
19                                                SQL  ...
20                                                NaN  ...
21                                                SQL  ...
22                                                SQL  ...
23                                                NaN  ...
24                                                SQL  ...
25                                                NaN  ...
26                                                NaN  ...
27                                                NaN  ...
28                                                NaN  ...
29                                                NaN  ...

                                         Q35_B_Part_2  \
0   In the next 2 years, do you hope to become mor...
1                                                 NaN
2                                                 NaN
3                                                 NaN
4                                                 NaN
5                                                 NaN
6                                                 NaN
7                                                 NaN
8                                                 NaN
9                                                 NaN
10                                                NaN
11                                                NaN
12                                                NaN
13                                                NaN
14                                                NaN
15                                                NaN
16                                                NaN
17                                                NaN
18                                                NaN
19                                                NaN
20                                                NaN
21                                  Weights & Biases
22                                                NaN
23                                                NaN
24                                                NaN
25                                                NaN
26                                  Weights & Biases
27                                                NaN
28                                                NaN
29                                                NaN

                                         Q35_B_Part_3  \
0   In the next 2 years, do you hope to become mor...
1                                                 NaN
2                                                 NaN
3                                                 NaN
4                                                 NaN
5                                                 NaN
6                                                 NaN
7                                                 NaN
8                                                 NaN
9                                                 NaN
10                                                NaN
11                                                NaN
12                                                NaN
13                                                NaN
14                                                NaN
15                                                NaN
16                                                NaN
17                                                NaN
18                                                NaN
19                                                NaN
20                                                NaN
21                                                NaN
22                                                NaN
23                                                NaN
24                                                NaN
25                                                NaN
26                                                NaN
27                                                NaN
28                                                NaN
29                                                NaN

                                         Q35_B_Part_4  \
0   In the next 2 years, do you hope to become mor...
1                                                 NaN
2                                                 NaN
3                                                 NaN
4                                                 NaN
5                                                 NaN
6                                                 NaN
7                                                 NaN
8                                                 NaN
9                                                 NaN
10                                                NaN
11                                                NaN
12                                                NaN
13                                                NaN
14                                                NaN
15                                                NaN
16                                                NaN
17                                                NaN
18                                                NaN
19                                                NaN
20                                                NaN
21                                                NaN
22                                                NaN
23                                                NaN
24                                                NaN
25                                                NaN
26                                                NaN
27                                                NaN
28                                                NaN
29                                                NaN

                                         Q35_B_Part_5  \
0   In the next 2 years, do you hope to become mor...
1                                        TensorBoard
2                                                 NaN
3                                                 NaN
4                                                 NaN
5                                                 NaN
6                                                 NaN
7                                                 NaN
8                                                 NaN

In [5]:
df.columns[0:30]

Index(['Time from Start to Finish (seconds)', 'Q1', 'Q2', 'Q3', 'Q4', 'Q5',
       'Q6', 'Q7_Part_1', 'Q7_Part_2', 'Q7_Part_3', 'Q7_Part_4', 'Q7_Part_5',
       'Q7_Part_6', 'Q7_Part_7', 'Q7_Part_8', 'Q7_Part_9', 'Q7_Part_10',
       'Q7_Part_11', 'Q7_Part_12', 'Q7_OTHER', 'Q8', 'Q9_Part_1', 'Q9_Part_2',
       'Q9_Part_3', 'Q9_Part_4', 'Q9_Part_5', 'Q9_Part_6', 'Q9_Part_7',
       'Q9_Part_8', 'Q9_Part_9'],
      dtype='object')

In [6]:
cols_Q7 = ['Q7_Part_1', 'Q7_Part_2', 'Q7_Part_3', 'Q7_Part_4', 'Q7_Part_5',
       'Q7_Part_6', 'Q7_Part_7', 'Q7_Part_8', 'Q7_Part_9', 'Q7_Part_10',
       'Q7_Part_11', 'Q7_Part_12', 'Q7_OTHER']
df["Q7"] = df[cols_Q7].apply(lambda x: ','.join(x.dropna()), axis=1)

In [7]:
print(df['Q7'].head(30))

0     What programming languages do you use on a reg...
1                Python,R,SQL,C,Javascript,MATLAB,Other
2                                          Python,R,SQL
3                                  Java,Javascript,Bash
4                                       Python,SQL,Bash
5                                                Python
6                                              Python,R
7                                            Python,R,C
8                                                     R
9                                       Python,SQL,Bash
10                                           Python,SQL
11                                  Python,R,SQL,C,Java
12                                                    R
13                                  Python,R,SQL,MATLAB
14                                    Python,SQL,MATLAB
15                                             Python,R
16                                                R,SQL
17                                                  SQL
18                          Python,Java,Javascript,Bash
19                          Python,SQL,C,C++,Javascript
20                               Python,Java,Javascript
21                                            R,SQL,C++
22                                           Python,SQL
23                                               Python
24                                           Python,SQL
25                                   Python,C,C++,Other
26                                             Python,R
27                                    Python,C,C++,Java
28                                          Python,Java
29                                               Python
Name: Q7, dtype: object

In [8]:
print(df.columns[0:30])

Index(['Time from Start to Finish (seconds)', 'Q1', 'Q2', 'Q3', 'Q4', 'Q5',
       'Q6', 'Q7_Part_1', 'Q7_Part_2', 'Q7_Part_3', 'Q7_Part_4', 'Q7_Part_5',
       'Q7_Part_6', 'Q7_Part_7', 'Q7_Part_8', 'Q7_Part_9', 'Q7_Part_10',
       'Q7_Part_11', 'Q7_Part_12', 'Q7_OTHER', 'Q8', 'Q9_Part_1', 'Q9_Part_2',
       'Q9_Part_3', 'Q9_Part_4', 'Q9_Part_5', 'Q9_Part_6', 'Q9_Part_7',
       'Q9_Part_8', 'Q9_Part_9'],
      dtype='object')

In [9]:
cols_Q9 = ['Q9_Part_1', 'Q9_Part_2', 'Q9_Part_3', 'Q9_Part_4', 'Q9_Part_5',
       'Q9_Part_6', 'Q9_Part_7', 'Q9_Part_8', 'Q9_Part_9', 'Q9_Part_10',
       'Q9_Part_11', 'Q9_OTHER']
df["Q9"] = df[cols_Q9].apply(lambda x: ','.join(x.dropna()), axis=1)

In [10]:
print(df["Q9"].head(30))

0     Which of the following integrated development ...
1     Jupyter (JupyterLab, Jupyter Notebooks, etc) ,...
2              Visual Studio, PyCharm ,  Sublime Text
3     Visual Studio Code (VSCode),  Notepad++  ,  Su...
4                                              PyCharm
5
6     Jupyter (JupyterLab, Jupyter Notebooks, etc) ,...
7     Jupyter (JupyterLab, Jupyter Notebooks, etc) ,...
8                                              RStudio
9     Jupyter (JupyterLab, Jupyter Notebooks, etc) ,...
10    Jupyter (JupyterLab, Jupyter Notebooks, etc) ,...
11        Jupyter (JupyterLab, Jupyter Notebooks, etc)
12                                             RStudio
13    Jupyter (JupyterLab, Jupyter Notebooks, etc) ,...
14        Jupyter (JupyterLab, Jupyter Notebooks, etc)
15    Jupyter (JupyterLab, Jupyter Notebooks, etc) ,...
16                               RStudio ,  Notepad++
17    Jupyter (JupyterLab, Jupyter Notebooks, etc) ,...
18    Jupyter (JupyterLab, Jupyter Notebooks, etc) ,...
19    Visual Studio,Visual Studio Code (VSCode), PyC...
20    Jupyter (JupyterLab, Jupyter Notebooks, etc) ,...
21                                                 None
22    Jupyter (JupyterLab, Jupyter Notebooks, etc) ,...
23    Jupyter (JupyterLab, Jupyter Notebooks, etc) ,...
24    Jupyter (JupyterLab, Jupyter Notebooks, etc) ,...
25    Jupyter (JupyterLab, Jupyter Notebooks, etc) ,...
26                                    RStudio , MATLAB
27    Jupyter (JupyterLab, Jupyter Notebooks, etc) ,...
28    Jupyter (JupyterLab, Jupyter Notebooks, etc) ,...
29                             PyCharm ,  Vim / Emacs
Name: Q9, dtype: object

In [11]:
df1 =df.drop(columns=['Q9_Part_1', 'Q9_Part_2', 'Q9_Part_3', 'Q9_Part_4', 'Q9_Part_5',
       'Q9_Part_6', 'Q9_Part_7', 'Q9_Part_8', 'Q9_Part_9', 'Q9_Part_10',
       'Q9_Part_11', 'Q9_OTHER'])

In [12]:
print(df1.columns[0:30])

Index(['Time from Start to Finish (seconds)', 'Q1', 'Q2', 'Q3', 'Q4', 'Q5',
       'Q6', 'Q7_Part_1', 'Q7_Part_2', 'Q7_Part_3', 'Q7_Part_4', 'Q7_Part_5',
       'Q7_Part_6', 'Q7_Part_7', 'Q7_Part_8', 'Q7_Part_9', 'Q7_Part_10',
       'Q7_Part_11', 'Q7_Part_12', 'Q7_OTHER', 'Q8', 'Q10_Part_1',
       'Q10_Part_2', 'Q10_Part_3', 'Q10_Part_4', 'Q10_Part_5', 'Q10_Part_6',
       'Q10_Part_7', 'Q10_Part_8', 'Q10_Part_9'],
      dtype='object')

In [13]:
cols_Q10 = ['Q10_Part_1', 'Q10_Part_2', 'Q10_Part_3', 'Q10_Part_4', 'Q10_Part_5',
       'Q10_Part_6', 'Q10_Part_7', 'Q10_Part_8', 'Q10_Part_9', 'Q10_Part_10',
       'Q10_Part_11','Q10_Part_12','Q10_Part_13','Q10_OTHER']
df1["Q10"] = df1[cols_Q10].apply(lambda x: ','.join(x.dropna()), axis=1)

In [14]:
print(df1['Q10'].head(30))

0     Which of the following hosted notebook product...
1                      Kaggle Notebooks,Colab Notebooks
2                                       Colab Notebooks
3                                                  None
4                                                  None
5
6                                                  None
7                                      Kaggle Notebooks
8                   Google Cloud AI Platform Notebooks
9                      Kaggle Notebooks,Colab Notebooks
10
11                                      Colab Notebooks
12                                                 None
13                                     Kaggle Notebooks
14                     Kaggle Notebooks,Colab Notebooks
15                                 Binder / JupyterHub
16                                                 None
17                                     Kaggle Notebooks
18     Kaggle Notebooks,Colab Notebooks,Azure Notebo...
19     Kaggle Notebooks,Colab Notebooks,Google Cloud...
20                                                 None
21                                     Kaggle Notebooks
22     Kaggle Notebooks,Colab Notebooks, Binder / Ju...
23     IBM Watson Studio , Amazon Sagemaker Studio ,...
24                                     Kaggle Notebooks
25                                     Kaggle Notebooks
26                                                 None
27                                                 None
28                     Kaggle Notebooks,Colab Notebooks
29                                     Kaggle Notebooks
Name: Q10, dtype: object

In [15]:
df2 =df1.drop(columns=['Q10_Part_1', 'Q10_Part_2', 'Q10_Part_3', 'Q10_Part_4', 'Q10_Part_5',
       'Q10_Part_6', 'Q10_Part_7', 'Q10_Part_8', 'Q10_Part_9', 'Q10_Part_10',
       'Q10_Part_11','Q10_Part_12','Q10_Part_13','Q10_OTHER'])

In [16]:
print(df2.columns[0:30])

Index(['Time from Start to Finish (seconds)', 'Q1', 'Q2', 'Q3', 'Q4', 'Q5',
       'Q6', 'Q7_Part_1', 'Q7_Part_2', 'Q7_Part_3', 'Q7_Part_4', 'Q7_Part_5',
       'Q7_Part_6', 'Q7_Part_7', 'Q7_Part_8', 'Q7_Part_9', 'Q7_Part_10',
       'Q7_Part_11', 'Q7_Part_12', 'Q7_OTHER', 'Q8', 'Q11', 'Q12_Part_1',
       'Q12_Part_2', 'Q12_Part_3', 'Q12_OTHER', 'Q13', 'Q14_Part_1',
       'Q14_Part_2', 'Q14_Part_3'],
      dtype='object')

In [17]:
cols_Q12 = ['Q12_Part_1', 'Q12_Part_2', 'Q12_Part_3', 'Q12_OTHER']
df2["Q12"] = df2[cols_Q12].apply(lambda x: ','.join(x.dropna()), axis=1)

In [18]:
df3 =df2.drop(columns=['Q12_Part_1', 'Q12_Part_2', 'Q12_Part_3', 'Q12_OTHER'])

In [19]:
print(df3["Q12"].head(30))

0     Which types of specialized hardware do you use...
1                                                  GPUs
2                                                  GPUs
3                                                  None
4                                                  None
5
6                                                  None
7                                                  None
8                                                 Other
9                                                  GPUs
10
11                                                 None
12                                                Other
13                                                 None
14                                                 GPUs
15                                                 None
16                                                 None
17                                                 None
18                                            GPUs,TPUs
19                                            GPUs,TPUs
20                                                 GPUs
21                                                 None
22                                                 GPUs
23                                                 None
24                                                 GPUs
25                                                 GPUs
26                                                 None
27                                                 GPUs
28                                                 None
29                                                 GPUs
Name: Q12, dtype: object

In [20]:
print(df3.columns[0:30])

Index(['Time from Start to Finish (seconds)', 'Q1', 'Q2', 'Q3', 'Q4', 'Q5',
       'Q6', 'Q7_Part_1', 'Q7_Part_2', 'Q7_Part_3', 'Q7_Part_4', 'Q7_Part_5',
       'Q7_Part_6', 'Q7_Part_7', 'Q7_Part_8', 'Q7_Part_9', 'Q7_Part_10',
       'Q7_Part_11', 'Q7_Part_12', 'Q7_OTHER', 'Q8', 'Q11', 'Q13',
       'Q14_Part_1', 'Q14_Part_2', 'Q14_Part_3', 'Q14_Part_4', 'Q14_Part_5',
       'Q14_Part_6', 'Q14_Part_7'],
      dtype='object')

In [21]:
df4 =df3.drop(columns=['Q7_Part_1', 'Q7_Part_2', 'Q7_Part_3', 'Q7_Part_4', 'Q7_Part_5',
       'Q7_Part_6', 'Q7_Part_7', 'Q7_Part_8', 'Q7_Part_9', 'Q7_Part_10',
       'Q7_Part_11', 'Q7_Part_12', 'Q7_OTHER'])

In [22]:
print(df4.columns[0:30])

Index(['Time from Start to Finish (seconds)', 'Q1', 'Q2', 'Q3', 'Q4', 'Q5',
       'Q6', 'Q8', 'Q11', 'Q13', 'Q14_Part_1', 'Q14_Part_2', 'Q14_Part_3',
       'Q14_Part_4', 'Q14_Part_5', 'Q14_Part_6', 'Q14_Part_7', 'Q14_Part_8',
       'Q14_Part_9', 'Q14_Part_10', 'Q14_Part_11', 'Q14_OTHER', 'Q15',
       'Q16_Part_1', 'Q16_Part_2', 'Q16_Part_3', 'Q16_Part_4', 'Q16_Part_5',
       'Q16_Part_6', 'Q16_Part_7'],
      dtype='object')

In [23]:
cols_Q14 = ['Q14_Part_1', 'Q14_Part_2', 'Q14_Part_3',
       'Q14_Part_4', 'Q14_Part_5', 'Q14_Part_6', 'Q14_Part_7', 'Q14_Part_8',
       'Q14_Part_9', 'Q14_Part_10', 'Q14_Part_11', 'Q14_OTHER']
df4["Q14"] = df4[cols_Q14].apply(lambda x: ','.join(x.dropna()), axis=1)

In [24]:
print(df4["Q14"])

0        What data visualization libraries or tools do ...
1                                 Matplotlib , Geoplotlib
2         Matplotlib , Seaborn , Ggplot / ggplot2 , Shiny
3                                                   D3 js
4          Matplotlib , Seaborn , Plotly / Plotly Express
                               ...
20032
20033             Matplotlib , Seaborn , Ggplot / ggplot2
20034                                Matplotlib , Seaborn
20035     Matplotlib , Seaborn , Plotly / Plotly Expres...
20036                                          Matplotlib
Name: Q14, Length: 20037, dtype: object

In [25]:
df5 =df4.drop(columns=['Q14_Part_1', 'Q14_Part_2', 'Q14_Part_3',
       'Q14_Part_4', 'Q14_Part_5', 'Q14_Part_6', 'Q14_Part_7', 'Q14_Part_8',
       'Q14_Part_9', 'Q14_Part_10', 'Q14_Part_11', 'Q14_OTHER'])

In [26]:
print(df5.columns[0:30])

Index(['Time from Start to Finish (seconds)', 'Q1', 'Q2', 'Q3', 'Q4', 'Q5',
       'Q6', 'Q8', 'Q11', 'Q13', 'Q15', 'Q16_Part_1', 'Q16_Part_2',
       'Q16_Part_3', 'Q16_Part_4', 'Q16_Part_5', 'Q16_Part_6', 'Q16_Part_7',
       'Q16_Part_8', 'Q16_Part_9', 'Q16_Part_10', 'Q16_Part_11', 'Q16_Part_12',
       'Q16_Part_13', 'Q16_Part_14', 'Q16_Part_15', 'Q16_OTHER', 'Q17_Part_1',
       'Q17_Part_2', 'Q17_Part_3'],
      dtype='object')

In [27]:
cols_Q16 = ['Q16_Part_1', 'Q16_Part_2',
       'Q16_Part_3', 'Q16_Part_4', 'Q16_Part_5', 'Q16_Part_6', 'Q16_Part_7',
       'Q16_Part_8', 'Q16_Part_9', 'Q16_Part_10', 'Q16_Part_11', 'Q16_Part_12',
       'Q16_Part_13', 'Q16_Part_14', 'Q16_Part_15', 'Q16_OTHER']
df5["Q16"] = df5[cols_Q16].apply(lambda x: ','.join(x.dropna()), axis=1)

In [28]:
print(df5["Q16"])

0        Which of the following machine learning framew...
1                            TensorFlow , Keras , Xgboost
2            Scikit-learn ,  TensorFlow , Keras , PyTorch
3
4            Scikit-learn ,  TensorFlow , Keras , Xgboost
                               ...
20032
20033        Scikit-learn ,  TensorFlow , Keras , PyTorch
20034
20035      Scikit-learn ,  TensorFlow , Keras , PyTorch...
20036                                          TensorFlow
Name: Q16, Length: 20037, dtype: object

In [29]:
df6 =df5.drop(columns=['Q16_Part_1', 'Q16_Part_2',
       'Q16_Part_3', 'Q16_Part_4', 'Q16_Part_5', 'Q16_Part_6', 'Q16_Part_7',
       'Q16_Part_8', 'Q16_Part_9', 'Q16_Part_10', 'Q16_Part_11', 'Q16_Part_12',
       'Q16_Part_13', 'Q16_Part_14', 'Q16_Part_15', 'Q16_OTHER'])

In [30]:
print(df6.columns[0:30])

Index(['Time from Start to Finish (seconds)', 'Q1', 'Q2', 'Q3', 'Q4', 'Q5',
       'Q6', 'Q8', 'Q11', 'Q13', 'Q15', 'Q17_Part_1', 'Q17_Part_2',
       'Q17_Part_3', 'Q17_Part_4', 'Q17_Part_5', 'Q17_Part_6', 'Q17_Part_7',
       'Q17_Part_8', 'Q17_Part_9', 'Q17_Part_10', 'Q17_Part_11', 'Q17_OTHER',
       'Q18_Part_1', 'Q18_Part_2', 'Q18_Part_3', 'Q18_Part_4', 'Q18_Part_5',
       'Q18_Part_6', 'Q18_OTHER'],
      dtype='object')

In [31]:
cols_Q17 = ['Q17_Part_1', 'Q17_Part_2',
       'Q17_Part_3', 'Q17_Part_4', 'Q17_Part_5', 'Q17_Part_6', 'Q17_Part_7',
       'Q17_Part_8', 'Q17_Part_9', 'Q17_Part_10', 'Q17_Part_11', 'Q17_OTHER']
df6["Q17"] = df6[cols_Q17].apply(lambda x: ','.join(x.dropna()), axis=1)

In [32]:
print(df6["Q17"])

0        Which of the following ML algorithms do you us...
1        Decision Trees or Random Forests,Gradient Boos...
2        Linear or Logistic Regression,Convolutional Ne...
3
4        Linear or Logistic Regression,Decision Trees o...
                               ...
20032
20033    Linear or Logistic Regression,Decision Trees o...
20034
20035    Linear or Logistic Regression,Decision Trees o...
20036    Linear or Logistic Regression,Decision Trees o...
Name: Q17, Length: 20037, dtype: object

In [33]:
df7 =df6.drop(columns=['Q17_Part_1', 'Q17_Part_2',
       'Q17_Part_3', 'Q17_Part_4', 'Q17_Part_5', 'Q17_Part_6', 'Q17_Part_7',
       'Q17_Part_8', 'Q17_Part_9', 'Q17_Part_10', 'Q17_Part_11', 'Q17_OTHER'])

In [34]:
print(df7.columns[0:30])

Index(['Time from Start to Finish (seconds)', 'Q1', 'Q2', 'Q3', 'Q4', 'Q5',
       'Q6', 'Q8', 'Q11', 'Q13', 'Q15', 'Q18_Part_1', 'Q18_Part_2',
       'Q18_Part_3', 'Q18_Part_4', 'Q18_Part_5', 'Q18_Part_6', 'Q18_OTHER',
       'Q19_Part_1', 'Q19_Part_2', 'Q19_Part_3', 'Q19_Part_4', 'Q19_Part_5',
       'Q19_OTHER', 'Q20', 'Q21', 'Q22', 'Q23_Part_1', 'Q23_Part_2',
       'Q23_Part_3'],
      dtype='object')

In [35]:
cols_Q18 = ['Q18_Part_1', 'Q18_Part_2','Q18_Part_3', 'Q18_Part_4', 'Q18_Part_5', 'Q18_Part_6', 'Q18_OTHER']
df7["Q18"] = df7[cols_Q18].apply(lambda x: ','.join(x.dropna()), axis=1)

In [36]:
print(df7["Q18"])

0        Which categories of computer vision methods do...
1        Image classification and other general purpose...
2        Image segmentation methods (U-Net, Mask R-CNN,...
3
4
                               ...
20032
20033                                                 None
20034
20035    General purpose image/video tools (PIL, cv2, s...
20036    Image classification and other general purpose...
Name: Q18, Length: 20037, dtype: object

In [37]:
df8 =df7.drop(columns=['Q18_Part_1', 'Q18_Part_2','Q18_Part_3', 'Q18_Part_4', 'Q18_Part_5', 'Q18_Part_6', 'Q18_OTHER'])

In [38]:
print(df8.columns[0:30])

Index(['Time from Start to Finish (seconds)', 'Q1', 'Q2', 'Q3', 'Q4', 'Q5',
       'Q6', 'Q8', 'Q11', 'Q13', 'Q15', 'Q19_Part_1', 'Q19_Part_2',
       'Q19_Part_3', 'Q19_Part_4', 'Q19_Part_5', 'Q19_OTHER', 'Q20', 'Q21',
       'Q22', 'Q23_Part_1', 'Q23_Part_2', 'Q23_Part_3', 'Q23_Part_4',
       'Q23_Part_5', 'Q23_Part_6', 'Q23_Part_7', 'Q23_OTHER', 'Q24', 'Q25'],
      dtype='object')

In [39]:
cols_Q19 = ['Q19_Part_1', 'Q19_Part_2', 'Q19_Part_3', 'Q19_Part_4', 'Q19_Part_5', 'Q19_OTHER']
df8["Q19"] = df8[cols_Q19].apply(lambda x: ','.join(x.dropna()), axis=1)

In [40]:
print(df8["Q19"])

0        Which of the following natural language proces...
1        Word embeddings/vectors (GLoVe, fastText, word...
2        Contextualized embeddings (ELMo, CoVe),Transfo...
3
4
                               ...
20032
20033    Transformer language models (GPT-3, BERT, XLne...
20034
20035    Word embeddings/vectors (GLoVe, fastText, word...
20036
Name: Q19, Length: 20037, dtype: object

In [41]:
df9 =df8.drop(columns=['Q19_Part_1', 'Q19_Part_2', 'Q19_Part_3', 'Q19_Part_4', 'Q19_Part_5', 'Q19_OTHER'])

In [42]:
print(df9.columns[0:30])

Index(['Time from Start to Finish (seconds)', 'Q1', 'Q2', 'Q3', 'Q4', 'Q5',
       'Q6', 'Q8', 'Q11', 'Q13', 'Q15', 'Q20', 'Q21', 'Q22', 'Q23_Part_1',
       'Q23_Part_2', 'Q23_Part_3', 'Q23_Part_4', 'Q23_Part_5', 'Q23_Part_6',
       'Q23_Part_7', 'Q23_OTHER', 'Q24', 'Q25', 'Q26_A_Part_1', 'Q26_A_Part_2',
       'Q26_A_Part_3', 'Q26_A_Part_4', 'Q26_A_Part_5', 'Q26_A_Part_6'],
      dtype='object')

In [43]:
cols_Q23 = ['Q23_Part_1','Q23_Part_2', 'Q23_Part_3', 'Q23_Part_4', 'Q23_Part_5', 'Q23_Part_6','Q23_Part_7', 'Q23_OTHER']
df9["Q23"] = df9[cols_Q23].apply(lambda x: ','.join(x.dropna()), axis=1)

In [44]:
print(df9["Q23"])

0        Select any activities that make up an importan...
1
2        Analyze and understand data to influence produ...
3        None of these activities are an important part...
4        Analyze and understand data to influence produ...
                               ...
20032
20033
20034    Analyze and understand data to influence produ...
20035    Analyze and understand data to influence produ...
20036    Analyze and understand data to influence produ...
Name: Q23, Length: 20037, dtype: object

In [45]:
df10 =df9.drop(columns=['Q23_Part_1','Q23_Part_2', 'Q23_Part_3', 'Q23_Part_4', 'Q23_Part_5', 'Q23_Part_6','Q23_Part_7', 'Q23_OTHER'])

In [46]:
print(df10.columns[0:30])

Index(['Time from Start to Finish (seconds)', 'Q1', 'Q2', 'Q3', 'Q4', 'Q5',
       'Q6', 'Q8', 'Q11', 'Q13', 'Q15', 'Q20', 'Q21', 'Q22', 'Q24', 'Q25',
       'Q26_A_Part_1', 'Q26_A_Part_2', 'Q26_A_Part_3', 'Q26_A_Part_4',
       'Q26_A_Part_5', 'Q26_A_Part_6', 'Q26_A_Part_7', 'Q26_A_Part_8',
       'Q26_A_Part_9', 'Q26_A_Part_10', 'Q26_A_Part_11', 'Q26_A_OTHER',
       'Q27_A_Part_1', 'Q27_A_Part_2'],
      dtype='object')

In [47]:
cols_Q26A = ['Q26_A_Part_1', 'Q26_A_Part_2', 'Q26_A_Part_3', 'Q26_A_Part_4',
       'Q26_A_Part_5', 'Q26_A_Part_6', 'Q26_A_Part_7', 'Q26_A_Part_8',
       'Q26_A_Part_9', 'Q26_A_Part_10', 'Q26_A_Part_11', 'Q26_A_OTHER']
df10["Q26A"] = df10[cols_Q26A].apply(lambda x: ','.join(x.dropna()), axis=1)

In [48]:
print(df10["Q26A"].head(50))

0     Which of the following cloud computing platfor...
1
2      Amazon Web Services (AWS) , Microsoft Azure ,...
3                                                  None
4         Amazon Web Services (AWS) , Salesforce Cloud
5
6
7
8
9          Amazon Web Services (AWS) , Microsoft Azure
10
11
12                                                 None
13
14     Microsoft Azure , Google Cloud Platform (GCP)...
15
16
17
18
19
20
21
22                                                 None
23     Amazon Web Services (AWS) , IBM Cloud / Red Hat
24                           Amazon Web Services (AWS)
25
26
27
28
29                                                 None
30
31                                                Other
32
33                           Amazon Web Services (AWS)
34
35
36
37
38     Amazon Web Services (AWS) , Google Cloud Plat...
39
40                         Google Cloud Platform (GCP)
41
42                         Google Cloud Platform (GCP)
43
44
45
46                           Amazon Web Services (AWS)
47
48
49
Name: Q26A, dtype: object

In [49]:
df11 =df10.drop(columns=['Q26_A_Part_1', 'Q26_A_Part_2', 'Q26_A_Part_3', 'Q26_A_Part_4',
       'Q26_A_Part_5', 'Q26_A_Part_6', 'Q26_A_Part_7', 'Q26_A_Part_8',
       'Q26_A_Part_9', 'Q26_A_Part_10', 'Q26_A_Part_11', 'Q26_A_OTHER'])

In [50]:
print(df11.columns[0:30])

Index(['Time from Start to Finish (seconds)', 'Q1', 'Q2', 'Q3', 'Q4', 'Q5',
       'Q6', 'Q8', 'Q11', 'Q13', 'Q15', 'Q20', 'Q21', 'Q22', 'Q24', 'Q25',
       'Q27_A_Part_1', 'Q27_A_Part_2', 'Q27_A_Part_3', 'Q27_A_Part_4',
       'Q27_A_Part_5', 'Q27_A_Part_6', 'Q27_A_Part_7', 'Q27_A_Part_8',
       'Q27_A_Part_9', 'Q27_A_Part_10', 'Q27_A_Part_11', 'Q27_A_OTHER',
       'Q28_A_Part_1', 'Q28_A_Part_2'],
      dtype='object')

In [51]:
cols_Q27A = ['Q27_A_Part_1', 'Q27_A_Part_2', 'Q27_A_Part_3', 'Q27_A_Part_4','Q27_A_Part_5', 'Q27_A_Part_6', 'Q27_A_Part_7', 'Q27_A_Part_8',
'Q27_A_Part_9', 'Q27_A_Part_10', 'Q27_A_Part_11', 'Q27_A_OTHER']
df11["Q27A"] = df11[cols_Q27A].apply(lambda x: ','.join(x.dropna()), axis=1)

In [52]:
df12 =df11.drop(columns=['Q27_A_Part_1', 'Q27_A_Part_2', 'Q27_A_Part_3', 'Q27_A_Part_4','Q27_A_Part_5', 'Q27_A_Part_6', 'Q27_A_Part_7', 'Q27_A_Part_8',
'Q27_A_Part_9', 'Q27_A_Part_10', 'Q27_A_Part_11', 'Q27_A_OTHER'])

In [53]:
print(df12.columns[0:30])

Index(['Time from Start to Finish (seconds)', 'Q1', 'Q2', 'Q3', 'Q4', 'Q5',
       'Q6', 'Q8', 'Q11', 'Q13', 'Q15', 'Q20', 'Q21', 'Q22', 'Q24', 'Q25',
       'Q28_A_Part_1', 'Q28_A_Part_2', 'Q28_A_Part_3', 'Q28_A_Part_4',
       'Q28_A_Part_5', 'Q28_A_Part_6', 'Q28_A_Part_7', 'Q28_A_Part_8',
       'Q28_A_Part_9', 'Q28_A_Part_10', 'Q28_A_OTHER', 'Q29_A_Part_1',
       'Q29_A_Part_2', 'Q29_A_Part_3'],
      dtype='object')

In [54]:
cols_Q28A = ['Q28_A_Part_1', 'Q28_A_Part_2', 'Q28_A_Part_3', 'Q28_A_Part_4',
       'Q28_A_Part_5', 'Q28_A_Part_6', 'Q28_A_Part_7', 'Q28_A_Part_8',
       'Q28_A_Part_9', 'Q28_A_Part_10', 'Q28_A_OTHER']
df12["Q28A"] = df12[cols_Q28A].apply(lambda x: ','.join(x.dropna()), axis=1)

In [55]:
df13 =df12.drop(columns=['Q28_A_Part_1', 'Q28_A_Part_2', 'Q28_A_Part_3', 'Q28_A_Part_4',
       'Q28_A_Part_5', 'Q28_A_Part_6', 'Q28_A_Part_7', 'Q28_A_Part_8',
       'Q28_A_Part_9', 'Q28_A_Part_10', 'Q28_A_OTHER'])

In [56]:
print(df13.columns[0:40])

Index(['Time from Start to Finish (seconds)', 'Q1', 'Q2', 'Q3', 'Q4', 'Q5',
       'Q6', 'Q8', 'Q11', 'Q13', 'Q15', 'Q20', 'Q21', 'Q22', 'Q24', 'Q25',
       'Q29_A_Part_1', 'Q29_A_Part_2', 'Q29_A_Part_3', 'Q29_A_Part_4',
       'Q29_A_Part_5', 'Q29_A_Part_6', 'Q29_A_Part_7', 'Q29_A_Part_8',
       'Q29_A_Part_9', 'Q29_A_Part_10', 'Q29_A_Part_11', 'Q29_A_Part_12',
       'Q29_A_Part_13', 'Q29_A_Part_14', 'Q29_A_Part_15', 'Q29_A_Part_16',
       'Q29_A_Part_17', 'Q29_A_OTHER', 'Q30', 'Q31_A_Part_1', 'Q31_A_Part_2',
       'Q31_A_Part_3', 'Q31_A_Part_4', 'Q31_A_Part_5'],
      dtype='object')

In [57]:
cols_Q29A = ['Q29_A_Part_1', 'Q29_A_Part_2', 'Q29_A_Part_3', 'Q29_A_Part_4',
       'Q29_A_Part_5', 'Q29_A_Part_6', 'Q29_A_Part_7', 'Q29_A_Part_8',
       'Q29_A_Part_9', 'Q29_A_Part_10', 'Q29_A_Part_11', 'Q29_A_Part_12',
       'Q29_A_Part_13', 'Q29_A_Part_14', 'Q29_A_Part_15', 'Q29_A_Part_16',
       'Q29_A_Part_17', 'Q29_A_OTHER']
df13["Q29A"] = df13[cols_Q29A].apply(lambda x: ','.join(x.dropna()), axis=1)

In [58]:
df14 =df13.drop(columns=['Q29_A_Part_1', 'Q29_A_Part_2', 'Q29_A_Part_3', 'Q29_A_Part_4',
       'Q29_A_Part_5', 'Q29_A_Part_6', 'Q29_A_Part_7', 'Q29_A_Part_8',
       'Q29_A_Part_9', 'Q29_A_Part_10', 'Q29_A_Part_11', 'Q29_A_Part_12',
       'Q29_A_Part_13', 'Q29_A_Part_14', 'Q29_A_Part_15', 'Q29_A_Part_16',
       'Q29_A_Part_17', 'Q29_A_OTHER'])

In [59]:
print(df14.columns[0:40])

Index(['Time from Start to Finish (seconds)', 'Q1', 'Q2', 'Q3', 'Q4', 'Q5',
       'Q6', 'Q8', 'Q11', 'Q13', 'Q15', 'Q20', 'Q21', 'Q22', 'Q24', 'Q25',
       'Q30', 'Q31_A_Part_1', 'Q31_A_Part_2', 'Q31_A_Part_3', 'Q31_A_Part_4',
       'Q31_A_Part_5', 'Q31_A_Part_6', 'Q31_A_Part_7', 'Q31_A_Part_8',
       'Q31_A_Part_9', 'Q31_A_Part_10', 'Q31_A_Part_11', 'Q31_A_Part_12',
       'Q31_A_Part_13', 'Q31_A_Part_14', 'Q31_A_OTHER', 'Q32', 'Q33_A_Part_1',
       'Q33_A_Part_2', 'Q33_A_Part_3', 'Q33_A_Part_4', 'Q33_A_Part_5',
       'Q33_A_Part_6', 'Q33_A_Part_7'],
      dtype='object')

In [60]:
cols_Q31A = ['Q31_A_Part_1', 'Q31_A_Part_2', 'Q31_A_Part_3', 'Q31_A_Part_4',
       'Q31_A_Part_5', 'Q31_A_Part_6', 'Q31_A_Part_7', 'Q31_A_Part_8',
       'Q31_A_Part_9', 'Q31_A_Part_10', 'Q31_A_Part_11', 'Q31_A_Part_12',
       'Q31_A_Part_13', 'Q31_A_Part_14', 'Q31_A_OTHER']
df14["Q31A"] = df14[cols_Q31A].apply(lambda x: ','.join(x.dropna()), axis=1)

In [61]:
df15 =df14.drop(columns=['Q31_A_Part_1', 'Q31_A_Part_2', 'Q31_A_Part_3', 'Q31_A_Part_4',
       'Q31_A_Part_5', 'Q31_A_Part_6', 'Q31_A_Part_7', 'Q31_A_Part_8',
       'Q31_A_Part_9', 'Q31_A_Part_10', 'Q31_A_Part_11', 'Q31_A_Part_12',
       'Q31_A_Part_13', 'Q31_A_Part_14', 'Q31_A_OTHER'])

In [62]:
print(df15.columns[0:40])

Index(['Time from Start to Finish (seconds)', 'Q1', 'Q2', 'Q3', 'Q4', 'Q5',
       'Q6', 'Q8', 'Q11', 'Q13', 'Q15', 'Q20', 'Q21', 'Q22', 'Q24', 'Q25',
       'Q30', 'Q32', 'Q33_A_Part_1', 'Q33_A_Part_2', 'Q33_A_Part_3',
       'Q33_A_Part_4', 'Q33_A_Part_5', 'Q33_A_Part_6', 'Q33_A_Part_7',
       'Q33_A_OTHER', 'Q34_A_Part_1', 'Q34_A_Part_2', 'Q34_A_Part_3',
       'Q34_A_Part_4', 'Q34_A_Part_5', 'Q34_A_Part_6', 'Q34_A_Part_7',
       'Q34_A_Part_8', 'Q34_A_Part_9', 'Q34_A_Part_10', 'Q34_A_Part_11',
       'Q34_A_OTHER', 'Q35_A_Part_1', 'Q35_A_Part_2'],
      dtype='object')

In [63]:
cols_Q33A = ['Q33_A_Part_1', 'Q33_A_Part_2', 'Q33_A_Part_3',
       'Q33_A_Part_4', 'Q33_A_Part_5', 'Q33_A_Part_6', 'Q33_A_Part_7',
       'Q33_A_OTHER']
df15["Q33A"] = df15[cols_Q33A].apply(lambda x: ','.join(x.dropna()), axis=1)

In [64]:
df16 =df15.drop(columns=['Q33_A_Part_1', 'Q33_A_Part_2', 'Q33_A_Part_3',
       'Q33_A_Part_4', 'Q33_A_Part_5', 'Q33_A_Part_6', 'Q33_A_Part_7',
       'Q33_A_OTHER'])

In [65]:
print(df16.columns[0:30])

Index(['Time from Start to Finish (seconds)', 'Q1', 'Q2', 'Q3', 'Q4', 'Q5',
       'Q6', 'Q8', 'Q11', 'Q13', 'Q15', 'Q20', 'Q21', 'Q22', 'Q24', 'Q25',
       'Q30', 'Q32', 'Q34_A_Part_1', 'Q34_A_Part_2', 'Q34_A_Part_3',
       'Q34_A_Part_4', 'Q34_A_Part_5', 'Q34_A_Part_6', 'Q34_A_Part_7',
       'Q34_A_Part_8', 'Q34_A_Part_9', 'Q34_A_Part_10', 'Q34_A_Part_11',
       'Q34_A_OTHER'],
      dtype='object')

In [66]:
cols_Q34A = ['Q34_A_Part_1', 'Q34_A_Part_2', 'Q34_A_Part_3',
       'Q34_A_Part_4', 'Q34_A_Part_5', 'Q34_A_Part_6', 'Q34_A_Part_7',
       'Q34_A_Part_8', 'Q34_A_Part_9', 'Q34_A_Part_10', 'Q34_A_Part_11',
       'Q34_A_OTHER']
df16["Q34A"] = df16[cols_Q34A].apply(lambda x: ','.join(x.dropna()), axis=1)

In [67]:
df17 =df16.drop(columns=['Q34_A_Part_1', 'Q34_A_Part_2', 'Q34_A_Part_3',
       'Q34_A_Part_4', 'Q34_A_Part_5', 'Q34_A_Part_6', 'Q34_A_Part_7',
       'Q34_A_Part_8', 'Q34_A_Part_9', 'Q34_A_Part_10', 'Q34_A_Part_11',
       'Q34_A_OTHER'])

In [68]:
print(df17.columns[0:30])

Index(['Time from Start to Finish (seconds)', 'Q1', 'Q2', 'Q3', 'Q4', 'Q5',
       'Q6', 'Q8', 'Q11', 'Q13', 'Q15', 'Q20', 'Q21', 'Q22', 'Q24', 'Q25',
       'Q30', 'Q32', 'Q35_A_Part_1', 'Q35_A_Part_2', 'Q35_A_Part_3',
       'Q35_A_Part_4', 'Q35_A_Part_5', 'Q35_A_Part_6', 'Q35_A_Part_7',
       'Q35_A_Part_8', 'Q35_A_Part_9', 'Q35_A_Part_10', 'Q35_A_OTHER',
       'Q36_Part_1'],
      dtype='object')

In [69]:
cols_Q35A = ['Q35_A_Part_1', 'Q35_A_Part_2', 'Q35_A_Part_3',
       'Q35_A_Part_4', 'Q35_A_Part_5', 'Q35_A_Part_6', 'Q35_A_Part_7',
       'Q35_A_Part_8', 'Q35_A_Part_9', 'Q35_A_Part_10', 'Q35_A_OTHER']
df17["Q35A"] = df17[cols_Q35A].apply(lambda x: ','.join(x.dropna()), axis=1)

In [70]:
df18 =df17.drop(columns=['Q35_A_Part_1', 'Q35_A_Part_2', 'Q35_A_Part_3',
       'Q35_A_Part_4', 'Q35_A_Part_5', 'Q35_A_Part_6', 'Q35_A_Part_7',
       'Q35_A_Part_8', 'Q35_A_Part_9', 'Q35_A_Part_10', 'Q35_A_OTHER'])

In [71]:
print(df18.columns[0:30])

Index(['Time from Start to Finish (seconds)', 'Q1', 'Q2', 'Q3', 'Q4', 'Q5',
       'Q6', 'Q8', 'Q11', 'Q13', 'Q15', 'Q20', 'Q21', 'Q22', 'Q24', 'Q25',
       'Q30', 'Q32', 'Q36_Part_1', 'Q36_Part_2', 'Q36_Part_3', 'Q36_Part_4',
       'Q36_Part_5', 'Q36_Part_6', 'Q36_Part_7', 'Q36_Part_8', 'Q36_Part_9',
       'Q36_OTHER', 'Q37_Part_1', 'Q37_Part_2'],
      dtype='object')

In [72]:
cols_Q36 = ['Q36_Part_1', 'Q36_Part_2', 'Q36_Part_3', 'Q36_Part_4',
       'Q36_Part_5', 'Q36_Part_6', 'Q36_Part_7', 'Q36_Part_8', 'Q36_Part_9',
       'Q36_OTHER']
df18["Q36"] = df18[cols_Q36].apply(lambda x: ','.join(x.dropna()), axis=1)

In [73]:
df19 =df18.drop(columns=['Q36_Part_1', 'Q36_Part_2', 'Q36_Part_3', 'Q36_Part_4',
       'Q36_Part_5', 'Q36_Part_6', 'Q36_Part_7', 'Q36_Part_8', 'Q36_Part_9',
       'Q36_OTHER'])

In [74]:
print(df19.columns[0:30])

Index(['Time from Start to Finish (seconds)', 'Q1', 'Q2', 'Q3', 'Q4', 'Q5',
       'Q6', 'Q8', 'Q11', 'Q13', 'Q15', 'Q20', 'Q21', 'Q22', 'Q24', 'Q25',
       'Q30', 'Q32', 'Q37_Part_1', 'Q37_Part_2', 'Q37_Part_3', 'Q37_Part_4',
       'Q37_Part_5', 'Q37_Part_6', 'Q37_Part_7', 'Q37_Part_8', 'Q37_Part_9',
       'Q37_Part_10', 'Q37_Part_11', 'Q37_OTHER'],
      dtype='object')

In [75]:
cols_Q37 = ['Q37_Part_1', 'Q37_Part_2', 'Q37_Part_3', 'Q37_Part_4',
       'Q37_Part_5', 'Q37_Part_6', 'Q37_Part_7', 'Q37_Part_8', 'Q37_Part_9',
       'Q37_Part_10', 'Q37_Part_11', 'Q37_OTHER']
df19["Q37"] = df19[cols_Q37].apply(lambda x: ','.join(x.dropna()), axis=1)

In [76]:
df20 =df19.drop(columns=['Q37_Part_1', 'Q37_Part_2', 'Q37_Part_3', 'Q37_Part_4',
       'Q37_Part_5', 'Q37_Part_6', 'Q37_Part_7', 'Q37_Part_8', 'Q37_Part_9',
       'Q37_Part_10', 'Q37_Part_11', 'Q37_OTHER'])

In [77]:
print(df20.columns[0:40])

Index(['Time from Start to Finish (seconds)', 'Q1', 'Q2', 'Q3', 'Q4', 'Q5',
       'Q6', 'Q8', 'Q11', 'Q13', 'Q15', 'Q20', 'Q21', 'Q22', 'Q24', 'Q25',
       'Q30', 'Q32', 'Q38', 'Q39_Part_1', 'Q39_Part_2', 'Q39_Part_3',
       'Q39_Part_4', 'Q39_Part_5', 'Q39_Part_6', 'Q39_Part_7', 'Q39_Part_8',
       'Q39_Part_9', 'Q39_Part_10', 'Q39_Part_11', 'Q39_OTHER', 'Q26_B_Part_1',
       'Q26_B_Part_2', 'Q26_B_Part_3', 'Q26_B_Part_4', 'Q26_B_Part_5',
       'Q26_B_Part_6', 'Q26_B_Part_7', 'Q26_B_Part_8', 'Q26_B_Part_9'],
      dtype='object')

In [78]:
cols_Q39 = ['Q39_Part_1', 'Q39_Part_2', 'Q39_Part_3',
       'Q39_Part_4', 'Q39_Part_5', 'Q39_Part_6', 'Q39_Part_7', 'Q39_Part_8',
       'Q39_Part_9', 'Q39_Part_10', 'Q39_Part_11', 'Q39_OTHER']
df20["Q39"] = df20[cols_Q39].apply(lambda x: ','.join(x.dropna()), axis=1)

In [79]:
df21 =df20.drop(columns=['Q39_Part_1', 'Q39_Part_2', 'Q39_Part_3',
       'Q39_Part_4', 'Q39_Part_5', 'Q39_Part_6', 'Q39_Part_7', 'Q39_Part_8',
       'Q39_Part_9', 'Q39_Part_10', 'Q39_Part_11', 'Q39_OTHER'])

In [80]:
print(df21.columns[0:40])

Index(['Time from Start to Finish (seconds)', 'Q1', 'Q2', 'Q3', 'Q4', 'Q5',
       'Q6', 'Q8', 'Q11', 'Q13', 'Q15', 'Q20', 'Q21', 'Q22', 'Q24', 'Q25',
       'Q30', 'Q32', 'Q38', 'Q26_B_Part_1', 'Q26_B_Part_2', 'Q26_B_Part_3',
       'Q26_B_Part_4', 'Q26_B_Part_5', 'Q26_B_Part_6', 'Q26_B_Part_7',
       'Q26_B_Part_8', 'Q26_B_Part_9', 'Q26_B_Part_10', 'Q26_B_Part_11',
       'Q26_B_OTHER', 'Q27_B_Part_1', 'Q27_B_Part_2', 'Q27_B_Part_3',
       'Q27_B_Part_4', 'Q27_B_Part_5', 'Q27_B_Part_6', 'Q27_B_Part_7',
       'Q27_B_Part_8', 'Q27_B_Part_9'],
      dtype='object')

In [81]:
cols_Q26B = ['Q26_B_Part_1', 'Q26_B_Part_2', 'Q26_B_Part_3',
       'Q26_B_Part_4', 'Q26_B_Part_5', 'Q26_B_Part_6', 'Q26_B_Part_7',
       'Q26_B_Part_8', 'Q26_B_Part_9', 'Q26_B_Part_10', 'Q26_B_Part_11',
       'Q26_B_OTHER']
df21["Q26B"] = df21[cols_Q26B].apply(lambda x: ','.join(x.dropna()), axis=1)

In [82]:
df22 =df21.drop(columns=['Q26_B_Part_1', 'Q26_B_Part_2', 'Q26_B_Part_3',
       'Q26_B_Part_4', 'Q26_B_Part_5', 'Q26_B_Part_6', 'Q26_B_Part_7',
       'Q26_B_Part_8', 'Q26_B_Part_9', 'Q26_B_Part_10', 'Q26_B_Part_11',
       'Q26_B_OTHER'])

In [83]:
print(df22.columns[0:40])

Index(['Time from Start to Finish (seconds)', 'Q1', 'Q2', 'Q3', 'Q4', 'Q5',
       'Q6', 'Q8', 'Q11', 'Q13', 'Q15', 'Q20', 'Q21', 'Q22', 'Q24', 'Q25',
       'Q30', 'Q32', 'Q38', 'Q27_B_Part_1', 'Q27_B_Part_2', 'Q27_B_Part_3',
       'Q27_B_Part_4', 'Q27_B_Part_5', 'Q27_B_Part_6', 'Q27_B_Part_7',
       'Q27_B_Part_8', 'Q27_B_Part_9', 'Q27_B_Part_10', 'Q27_B_Part_11',
       'Q27_B_OTHER', 'Q28_B_Part_1', 'Q28_B_Part_2', 'Q28_B_Part_3',
       'Q28_B_Part_4', 'Q28_B_Part_5', 'Q28_B_Part_6', 'Q28_B_Part_7',
       'Q28_B_Part_8', 'Q28_B_Part_9'],
      dtype='object')

In [84]:
cols_Q27B = ['Q27_B_Part_1', 'Q27_B_Part_2', 'Q27_B_Part_3',
       'Q27_B_Part_4', 'Q27_B_Part_5', 'Q27_B_Part_6', 'Q27_B_Part_7',
       'Q27_B_Part_8', 'Q27_B_Part_9', 'Q27_B_Part_10', 'Q27_B_Part_11',
       'Q27_B_OTHER']
df22["Q27B"] = df22[cols_Q27B].apply(lambda x: ','.join(x.dropna()), axis=1)

In [85]:
df23 =df22.drop(columns=['Q27_B_Part_1', 'Q27_B_Part_2', 'Q27_B_Part_3',
       'Q27_B_Part_4', 'Q27_B_Part_5', 'Q27_B_Part_6', 'Q27_B_Part_7',
       'Q27_B_Part_8', 'Q27_B_Part_9', 'Q27_B_Part_10', 'Q27_B_Part_11',
       'Q27_B_OTHER'])

In [86]:
print(df23.columns[0:40])

Index(['Time from Start to Finish (seconds)', 'Q1', 'Q2', 'Q3', 'Q4', 'Q5',
       'Q6', 'Q8', 'Q11', 'Q13', 'Q15', 'Q20', 'Q21', 'Q22', 'Q24', 'Q25',
       'Q30', 'Q32', 'Q38', 'Q28_B_Part_1', 'Q28_B_Part_2', 'Q28_B_Part_3',
       'Q28_B_Part_4', 'Q28_B_Part_5', 'Q28_B_Part_6', 'Q28_B_Part_7',
       'Q28_B_Part_8', 'Q28_B_Part_9', 'Q28_B_Part_10', 'Q28_B_OTHER',
       'Q29_B_Part_1', 'Q29_B_Part_2', 'Q29_B_Part_3', 'Q29_B_Part_4',
       'Q29_B_Part_5', 'Q29_B_Part_6', 'Q29_B_Part_7', 'Q29_B_Part_8',
       'Q29_B_Part_9', 'Q29_B_Part_10'],
      dtype='object')

In [87]:
cols_Q28B = ['Q28_B_Part_1', 'Q28_B_Part_2', 'Q28_B_Part_3',
       'Q28_B_Part_4', 'Q28_B_Part_5', 'Q28_B_Part_6', 'Q28_B_Part_7',
       'Q28_B_Part_8', 'Q28_B_Part_9', 'Q28_B_Part_10', 'Q28_B_OTHER']
df23["Q28B"] = df23[cols_Q28B].apply(lambda x: ','.join(x.dropna()), axis=1)

In [88]:
df24 =df23.drop(columns=['Q28_B_Part_1', 'Q28_B_Part_2', 'Q28_B_Part_3',
       'Q28_B_Part_4', 'Q28_B_Part_5', 'Q28_B_Part_6', 'Q28_B_Part_7',
       'Q28_B_Part_8', 'Q28_B_Part_9', 'Q28_B_Part_10', 'Q28_B_OTHER'])

In [89]:
print(df24.columns[0:40])

Index(['Time from Start to Finish (seconds)', 'Q1', 'Q2', 'Q3', 'Q4', 'Q5',
       'Q6', 'Q8', 'Q11', 'Q13', 'Q15', 'Q20', 'Q21', 'Q22', 'Q24', 'Q25',
       'Q30', 'Q32', 'Q38', 'Q29_B_Part_1', 'Q29_B_Part_2', 'Q29_B_Part_3',
       'Q29_B_Part_4', 'Q29_B_Part_5', 'Q29_B_Part_6', 'Q29_B_Part_7',
       'Q29_B_Part_8', 'Q29_B_Part_9', 'Q29_B_Part_10', 'Q29_B_Part_11',
       'Q29_B_Part_12', 'Q29_B_Part_13', 'Q29_B_Part_14', 'Q29_B_Part_15',
       'Q29_B_Part_16', 'Q29_B_Part_17', 'Q29_B_OTHER', 'Q31_B_Part_1',
       'Q31_B_Part_2', 'Q31_B_Part_3'],
      dtype='object')

In [90]:
cols_Q29B = ['Q29_B_Part_1', 'Q29_B_Part_2', 'Q29_B_Part_3',
       'Q29_B_Part_4', 'Q29_B_Part_5', 'Q29_B_Part_6', 'Q29_B_Part_7',
       'Q29_B_Part_8', 'Q29_B_Part_9', 'Q29_B_Part_10', 'Q29_B_Part_11',
       'Q29_B_Part_12', 'Q29_B_Part_13', 'Q29_B_Part_14', 'Q29_B_Part_15',
       'Q29_B_Part_16', 'Q29_B_Part_17', 'Q29_B_OTHER']
df24["Q29B"] = df24[cols_Q29B].apply(lambda x: ','.join(x.dropna()), axis=1)

In [91]:
df25 =df24.drop(columns=['Q29_B_Part_1', 'Q29_B_Part_2', 'Q29_B_Part_3',
       'Q29_B_Part_4', 'Q29_B_Part_5', 'Q29_B_Part_6', 'Q29_B_Part_7',
       'Q29_B_Part_8', 'Q29_B_Part_9', 'Q29_B_Part_10', 'Q29_B_Part_11',
       'Q29_B_Part_12', 'Q29_B_Part_13', 'Q29_B_Part_14', 'Q29_B_Part_15',
       'Q29_B_Part_16', 'Q29_B_Part_17', 'Q29_B_OTHER'])

In [92]:
print(df25.columns[0:40])

Index(['Time from Start to Finish (seconds)', 'Q1', 'Q2', 'Q3', 'Q4', 'Q5',
       'Q6', 'Q8', 'Q11', 'Q13', 'Q15', 'Q20', 'Q21', 'Q22', 'Q24', 'Q25',
       'Q30', 'Q32', 'Q38', 'Q31_B_Part_1', 'Q31_B_Part_2', 'Q31_B_Part_3',
       'Q31_B_Part_4', 'Q31_B_Part_5', 'Q31_B_Part_6', 'Q31_B_Part_7',
       'Q31_B_Part_8', 'Q31_B_Part_9', 'Q31_B_Part_10', 'Q31_B_Part_11',
       'Q31_B_Part_12', 'Q31_B_Part_13', 'Q31_B_Part_14', 'Q31_B_OTHER',
       'Q33_B_Part_1', 'Q33_B_Part_2', 'Q33_B_Part_3', 'Q33_B_Part_4',
       'Q33_B_Part_5', 'Q33_B_Part_6'],
      dtype='object')

In [93]:
cols_Q31B = ['Q31_B_Part_1', 'Q31_B_Part_2', 'Q31_B_Part_3',
       'Q31_B_Part_4', 'Q31_B_Part_5', 'Q31_B_Part_6', 'Q31_B_Part_7',
       'Q31_B_Part_8', 'Q31_B_Part_9', 'Q31_B_Part_10', 'Q31_B_Part_11',
       'Q31_B_Part_12', 'Q31_B_Part_13', 'Q31_B_Part_14', 'Q31_B_OTHER']
df25["Q31B"] = df25[cols_Q31B].apply(lambda x: ','.join(x.dropna()), axis=1)

In [94]:
df26 =df25.drop(columns=['Q31_B_Part_1', 'Q31_B_Part_2', 'Q31_B_Part_3',
       'Q31_B_Part_4', 'Q31_B_Part_5', 'Q31_B_Part_6', 'Q31_B_Part_7',
       'Q31_B_Part_8', 'Q31_B_Part_9', 'Q31_B_Part_10', 'Q31_B_Part_11',
       'Q31_B_Part_12', 'Q31_B_Part_13', 'Q31_B_Part_14', 'Q31_B_OTHER'])

In [95]:
print(df26.columns[0:40])

Index(['Time from Start to Finish (seconds)', 'Q1', 'Q2', 'Q3', 'Q4', 'Q5',
       'Q6', 'Q8', 'Q11', 'Q13', 'Q15', 'Q20', 'Q21', 'Q22', 'Q24', 'Q25',
       'Q30', 'Q32', 'Q38', 'Q33_B_Part_1', 'Q33_B_Part_2', 'Q33_B_Part_3',
       'Q33_B_Part_4', 'Q33_B_Part_5', 'Q33_B_Part_6', 'Q33_B_Part_7',
       'Q33_B_OTHER', 'Q34_B_Part_1', 'Q34_B_Part_2', 'Q34_B_Part_3',
       'Q34_B_Part_4', 'Q34_B_Part_5', 'Q34_B_Part_6', 'Q34_B_Part_7',
       'Q34_B_Part_8', 'Q34_B_Part_9', 'Q34_B_Part_10', 'Q34_B_Part_11',
       'Q34_B_OTHER', 'Q35_B_Part_1'],
      dtype='object')

In [96]:
cols_Q33B = ['Q33_B_Part_1', 'Q33_B_Part_2', 'Q33_B_Part_3',
       'Q33_B_Part_4', 'Q33_B_Part_5', 'Q33_B_Part_6', 'Q33_B_Part_7',
       'Q33_B_OTHER']
df26["Q33B"] = df26[cols_Q33B].apply(lambda x: ','.join(x.dropna()), axis=1)

In [97]:
df27 =df26.drop(columns=['Q33_B_Part_1', 'Q33_B_Part_2', 'Q33_B_Part_3',
       'Q33_B_Part_4', 'Q33_B_Part_5', 'Q33_B_Part_6', 'Q33_B_Part_7',
       'Q33_B_OTHER'])

In [98]:
print(df27.columns[0:40])

Index(['Time from Start to Finish (seconds)', 'Q1', 'Q2', 'Q3', 'Q4', 'Q5',
       'Q6', 'Q8', 'Q11', 'Q13', 'Q15', 'Q20', 'Q21', 'Q22', 'Q24', 'Q25',
       'Q30', 'Q32', 'Q38', 'Q34_B_Part_1', 'Q34_B_Part_2', 'Q34_B_Part_3',
       'Q34_B_Part_4', 'Q34_B_Part_5', 'Q34_B_Part_6', 'Q34_B_Part_7',
       'Q34_B_Part_8', 'Q34_B_Part_9', 'Q34_B_Part_10', 'Q34_B_Part_11',
       'Q34_B_OTHER', 'Q35_B_Part_1', 'Q35_B_Part_2', 'Q35_B_Part_3',
       'Q35_B_Part_4', 'Q35_B_Part_5', 'Q35_B_Part_6', 'Q35_B_Part_7',
       'Q35_B_Part_8', 'Q35_B_Part_9'],
      dtype='object')

In [99]:
cols_Q34B = ['Q34_B_Part_1', 'Q34_B_Part_2', 'Q34_B_Part_3',
       'Q34_B_Part_4', 'Q34_B_Part_5', 'Q34_B_Part_6', 'Q34_B_Part_7',
       'Q34_B_Part_8', 'Q34_B_Part_9', 'Q34_B_Part_10', 'Q34_B_Part_11',
       'Q34_B_OTHER']
df27["Q34B"] = df27[cols_Q34B].apply(lambda x: ','.join(x.dropna()), axis=1)

In [100]:
df28 =df27.drop(columns=['Q34_B_Part_1', 'Q34_B_Part_2', 'Q34_B_Part_3',
       'Q34_B_Part_4', 'Q34_B_Part_5', 'Q34_B_Part_6', 'Q34_B_Part_7',
       'Q34_B_Part_8', 'Q34_B_Part_9', 'Q34_B_Part_10', 'Q34_B_Part_11',
       'Q34_B_OTHER'])

In [101]:
print(df28.columns[0:40])

Index(['Time from Start to Finish (seconds)', 'Q1', 'Q2', 'Q3', 'Q4', 'Q5',
       'Q6', 'Q8', 'Q11', 'Q13', 'Q15', 'Q20', 'Q21', 'Q22', 'Q24', 'Q25',
       'Q30', 'Q32', 'Q38', 'Q35_B_Part_1', 'Q35_B_Part_2', 'Q35_B_Part_3',
       'Q35_B_Part_4', 'Q35_B_Part_5', 'Q35_B_Part_6', 'Q35_B_Part_7',
       'Q35_B_Part_8', 'Q35_B_Part_9', 'Q35_B_Part_10', 'Q35_B_OTHER', 'Q7',
       'Q9', 'Q10', 'Q12', 'Q14', 'Q16', 'Q17', 'Q18', 'Q19', 'Q23'],
      dtype='object')

In [102]:
cols_Q35B = ['Q35_B_Part_1', 'Q35_B_Part_2', 'Q35_B_Part_3',
       'Q35_B_Part_4', 'Q35_B_Part_5', 'Q35_B_Part_6', 'Q35_B_Part_7',
       'Q35_B_Part_8', 'Q35_B_Part_9', 'Q35_B_Part_10', 'Q35_B_OTHER']
df28["Q35B"] = df28[cols_Q35B].apply(lambda x: ','.join(x.dropna()), axis=1)

In [103]:
df29 =df28.drop(columns=['Q35_B_Part_1', 'Q35_B_Part_2', 'Q35_B_Part_3',
       'Q35_B_Part_4', 'Q35_B_Part_5', 'Q35_B_Part_6', 'Q35_B_Part_7',
       'Q35_B_Part_8', 'Q35_B_Part_9', 'Q35_B_Part_10', 'Q35_B_OTHER'])

In [104]:
print(df29.columns[0:60])

Index(['Time from Start to Finish (seconds)', 'Q1', 'Q2', 'Q3', 'Q4', 'Q5',
       'Q6', 'Q8', 'Q11', 'Q13', 'Q15', 'Q20', 'Q21', 'Q22', 'Q24', 'Q25',
       'Q30', 'Q32', 'Q38', 'Q7', 'Q9', 'Q10', 'Q12', 'Q14', 'Q16', 'Q17',
       'Q18', 'Q19', 'Q23', 'Q26A', 'Q27A', 'Q28A', 'Q29A', 'Q31A', 'Q33A',
       'Q34A', 'Q35A', 'Q36', 'Q37', 'Q39', 'Q26B', 'Q27B', 'Q28B', 'Q29B',
       'Q31B', 'Q33B', 'Q34B', 'Q35B'],
      dtype='object')

In [130]:
df29 =df29.replace(r'\s+( +\.)|#',np.nan,regex=True).replace('',np.nan)

In [106]:
cols_Q26 = ['Q26A','Q26B']
df29["Q26"] = df29[cols_Q26].apply(lambda x: ','.join(x.dropna()), axis=1)

In [107]:
df30 =df29.drop(columns=['Q26A','Q26B'])

In [108]:
print(df30.columns[0:60])

Index(['Time from Start to Finish (seconds)', 'Q1', 'Q2', 'Q3', 'Q4', 'Q5',
       'Q6', 'Q8', 'Q11', 'Q13', 'Q15', 'Q20', 'Q21', 'Q22', 'Q24', 'Q25',
       'Q30', 'Q32', 'Q38', 'Q7', 'Q9', 'Q10', 'Q12', 'Q14', 'Q16', 'Q17',
       'Q18', 'Q19', 'Q23', 'Q27A', 'Q28A', 'Q29A', 'Q31A', 'Q33A', 'Q34A',
       'Q35A', 'Q36', 'Q37', 'Q39', 'Q27B', 'Q28B', 'Q29B', 'Q31B', 'Q33B',
       'Q34B', 'Q35B', 'Q26'],
      dtype='object')

In [109]:
cols_Q27 = ['Q27A','Q27B']
df30["Q27"] = df30[cols_Q27].apply(lambda x: ','.join(x.dropna()), axis=1)

In [110]:
df31 =df30.drop(columns=['Q27A','Q27B'])

In [111]:
print(df31.columns[0:60])

Index(['Time from Start to Finish (seconds)', 'Q1', 'Q2', 'Q3', 'Q4', 'Q5',
       'Q6', 'Q8', 'Q11', 'Q13', 'Q15', 'Q20', 'Q21', 'Q22', 'Q24', 'Q25',
       'Q30', 'Q32', 'Q38', 'Q7', 'Q9', 'Q10', 'Q12', 'Q14', 'Q16', 'Q17',
       'Q18', 'Q19', 'Q23', 'Q28A', 'Q29A', 'Q31A', 'Q33A', 'Q34A', 'Q35A',
       'Q36', 'Q37', 'Q39', 'Q28B', 'Q29B', 'Q31B', 'Q33B', 'Q34B', 'Q35B',
       'Q26', 'Q27'],
      dtype='object')

In [112]:
cols_Q28 = ['Q28A','Q28B']
df31["Q28"] = df31[cols_Q28].apply(lambda x: ','.join(x.dropna()), axis=1)

In [113]:
df32 =df31.drop(columns=['Q28A','Q28B'])

In [114]:
print(df32.columns[0:60])

Index(['Time from Start to Finish (seconds)', 'Q1', 'Q2', 'Q3', 'Q4', 'Q5',
       'Q6', 'Q8', 'Q11', 'Q13', 'Q15', 'Q20', 'Q21', 'Q22', 'Q24', 'Q25',
       'Q30', 'Q32', 'Q38', 'Q7', 'Q9', 'Q10', 'Q12', 'Q14', 'Q16', 'Q17',
       'Q18', 'Q19', 'Q23', 'Q29A', 'Q31A', 'Q33A', 'Q34A', 'Q35A', 'Q36',
       'Q37', 'Q39', 'Q29B', 'Q31B', 'Q33B', 'Q34B', 'Q35B', 'Q26', 'Q27',
       'Q28'],
      dtype='object')

In [115]:
cols_Q29 = ['Q29A','Q29B']
df32["Q29"] = df32[cols_Q29].apply(lambda x: ','.join(x.dropna()), axis=1)

In [116]:
df33 =df32.drop(columns=['Q29A','Q29B'])

In [117]:
print(df33.columns[0:60])

Index(['Time from Start to Finish (seconds)', 'Q1', 'Q2', 'Q3', 'Q4', 'Q5',
       'Q6', 'Q8', 'Q11', 'Q13', 'Q15', 'Q20', 'Q21', 'Q22', 'Q24', 'Q25',
       'Q30', 'Q32', 'Q38', 'Q7', 'Q9', 'Q10', 'Q12', 'Q14', 'Q16', 'Q17',
       'Q18', 'Q19', 'Q23', 'Q31A', 'Q33A', 'Q34A', 'Q35A', 'Q36', 'Q37',
       'Q39', 'Q31B', 'Q33B', 'Q34B', 'Q35B', 'Q26', 'Q27', 'Q28', 'Q29'],
      dtype='object')

In [118]:
cols_Q31 = ['Q31A','Q31B']
df33["Q31"] = df33[cols_Q31].apply(lambda x: ','.join(x.dropna()), axis=1)

In [119]:
df34=df33.drop(columns=['Q31A','Q31B'])

In [120]:
print(df34.columns[0:60])

Index(['Time from Start to Finish (seconds)', 'Q1', 'Q2', 'Q3', 'Q4', 'Q5',
       'Q6', 'Q8', 'Q11', 'Q13', 'Q15', 'Q20', 'Q21', 'Q22', 'Q24', 'Q25',
       'Q30', 'Q32', 'Q38', 'Q7', 'Q9', 'Q10', 'Q12', 'Q14', 'Q16', 'Q17',
       'Q18', 'Q19', 'Q23', 'Q33A', 'Q34A', 'Q35A', 'Q36', 'Q37', 'Q39',
       'Q33B', 'Q34B', 'Q35B', 'Q26', 'Q27', 'Q28', 'Q29', 'Q31'],
      dtype='object')

In [121]:
cols_Q33 = ['Q33A','Q33B']
df34["Q33"] = df34[cols_Q33].apply(lambda x: ','.join(x.dropna()), axis=1)

In [122]:
df35=df34.drop(columns=['Q33A','Q33B'])

In [123]:
print(df35.columns[0:60])

Index(['Time from Start to Finish (seconds)', 'Q1', 'Q2', 'Q3', 'Q4', 'Q5',
       'Q6', 'Q8', 'Q11', 'Q13', 'Q15', 'Q20', 'Q21', 'Q22', 'Q24', 'Q25',
       'Q30', 'Q32', 'Q38', 'Q7', 'Q9', 'Q10', 'Q12', 'Q14', 'Q16', 'Q17',
       'Q18', 'Q19', 'Q23', 'Q34A', 'Q35A', 'Q36', 'Q37', 'Q39', 'Q34B',
       'Q35B', 'Q26', 'Q27', 'Q28', 'Q29', 'Q31', 'Q33'],
      dtype='object')

In [124]:
cols_Q34 = ['Q34A','Q34B']
df35["Q34"] = df35[cols_Q34].apply(lambda x: ','.join(x.dropna()), axis=1)

In [125]:
df36=df35.drop(columns=['Q34A','Q34B'])

In [126]:
print(df36.columns[0:50])

Index(['Time from Start to Finish (seconds)', 'Q1', 'Q2', 'Q3', 'Q4', 'Q5',
       'Q6', 'Q8', 'Q11', 'Q13', 'Q15', 'Q20', 'Q21', 'Q22', 'Q24', 'Q25',
       'Q30', 'Q32', 'Q38', 'Q7', 'Q9', 'Q10', 'Q12', 'Q14', 'Q16', 'Q17',
       'Q18', 'Q19', 'Q23', 'Q35A', 'Q36', 'Q37', 'Q39', 'Q35B', 'Q26', 'Q27',
       'Q28', 'Q29', 'Q31', 'Q33', 'Q34'],
      dtype='object')

In [127]:
cols_Q35 = ['Q35A','Q35B']
df36["Q35"] = df36[cols_Q35].apply(lambda x: ','.join(x.dropna()), axis=1)

In [128]:
df37=df36.drop(columns=['Q35A','Q35B'])

In [131]:
print(df37.head(30))

   Time from Start to Finish (seconds)     Q1  \
0                Duration (in seconds)    NaN
1                                 1838  35-39
2                               289287  30-34
3                                  860  35-39
4                                  507  30-34
5                                   78  30-34
6                                  401  30-34
7                                  748  22-24
8                               171196  25-29
9                                  762  35-39
10                                 150  22-24
11                                7469  18-21
12                                 742  35-39
13                                 535  22-24
14                                 378  30-34
15                                 623  30-34
16                                 413  18-21
17                                 397  25-29
18                                 437  22-24
19                                 192  22-24
20                                 267  18-21
21                                3313  22-24
22                                 874  30-34
23                                 815  55-59
24                                 694  35-39
25                                 571  50-54
26                                 723  25-29
27                                 433  18-21
28                                 273  18-21
29                                 545  30-34

                                        Q2  \
0   What is your gender? - Selected Choice
1                                      Man
2                                      Man
3                                      Man
4                                      Man
5                                      Man
6                                      Man
7                                      Man
8                                    Woman
9                                      Man
10                                     Man
11                                     Man
12                                     Man
13                                     Man
14                                     Man
15                                     Man
16                                   Woman
17                                   Woman
18                                     Man
19                                     Man
20                                     Man
21                                   Woman
22                                     Man
23                                   Woman
24                                     Man
25                                     Man
26                                   Woman
27                                     Man
28                                     Man
29                                     Man

                                           Q3  \
0   In which country do you currently reside?
1                                    Colombia
2                    United States of America
3                                   Argentina
4                    United States of America
5                                       Japan
6                                       India
7                                      Brazil
8                                       China
9                                     Germany
10                                      China
11                                      India
12                   United States of America
13                                  Indonesia
14                                     Canada
15                                Switzerland
16                                      India
17                                      Other
18                                  Singapore
19                                      India
20                                      India
21                                      India
22                                     Russia
23                                     Canada
24                               South Africa
25                   United States of America
26                   United States of America
27                                      India
28                                      Egypt
29                                Netherlands

                                                   Q4  \
0   What is the highest level of formal education ...
1                                     Doctoral degree
2                                     Master’s degree
3                                   Bachelor’s degree
4                                     Master’s degree
5                                     Master’s degree
6                                   Bachelor’s degree
7                                   Bachelor’s degree
8                                     Master’s degree
9                                     Doctoral degree
10               No formal education past high school
11                                  Bachelor’s degree
12                                    Doctoral degree
13                                  Bachelor’s degree
14                                  Bachelor’s degree
15                                  Bachelor’s degree
16                                  Bachelor’s degree
17                                  Bachelor’s degree
18                                  Bachelor’s degree
19                                  Bachelor’s degree
20                                  Bachelor’s degree
21                                    Doctoral degree
22                                  Bachelor’s degree
23                                    Master’s degree
24  Some college/university study without earning ...
25                                    Master’s degree
26                                    Master’s degree
27                                  Bachelor’s degree
28                                  Bachelor’s degree
29                                  Bachelor’s degree

                                                   Q5  \
0   Select the title most similar to your current ...
1                                             Student
2                                       Data Engineer
3                                   Software Engineer
4                                      Data Scientist
5                                   Software Engineer
6                                        Data Analyst
7                                             Student
8                                             Student
9                                      Data Scientist
10                                            Student
11                                            Student
12                                 Research Scientist
13                                            Student
14                                      Data Engineer
15                                              Other
16                                            Student
17                             Currently not employed
18                                            Student
19                                            Student
20                                            Student
21                                       Statistician
22                                     Data Scientist
23                            Product/Project Manager
24                                       Data Analyst
25                                  Software Engineer
26                                            Student
27                                            Student
28                                            Student
29                                  Software Engineer

                                                   Q6  \
0   For how many years have you been writing code ...
1                                          5-10 years
2                                          5-10 years
3                                         10-20 years
4                                          5-10 years
5                                           3-5 years
6                                           < 1 years
7                                           3-5 years
8                                           < 1 years
9                                          5-10 years
10                                          < 1 years
11                                          1-2 years
12                                          1-2 years
13                                          < 1 years
14                                          < 1 years
15                                          < 1 years
16                                          1-2 years
17                                          3-5 years
18                                          3-5 years
19                                          1-2 years
20                                          1-2 years
21                                          3-5 years
22                                          < 1 years
23                                          1-2 years
24                                          < 1 years
25                                          20+ years
26                                          1-2 years
27                                          3-5 years
28                                          1-2 years
29                                        10-20 years

                                                   Q8  \
0   What programming language would you recommend ...
1                                              Python
2                                              Python
3                                                   R
4                                              Python
5                                              Python
6                                              Python
7                                              Python
8                                                   R
9                                              Python
10                                             Python
11                                             Python
12                                                  R
13                                                  R
14                                             Python
15                                             Python
16                                                  R
17                                             Python
18                                             Python
19                                             Python
20                                                C++
21                                             Python
22                                             Python
23                                             Python
24                                             Python
25                                             Python
26                                             Python
27                                             Python
28                                             Python
29                                             Python

                                                  Q11  \
0   What type of computing platform do you use mos...
1   A cloud computing platform (AWS, Azure, GCP, h...
2                       A personal computer or laptop
3                       A personal computer or laptop
4   A cloud computing platform (AWS, Azure, GCP, h...
5                                                 NaN
6                       A personal computer or laptop
7                       A personal computer or laptop
8                                                None
9   A cloud computing platform (AWS, Azure, GCP, h...
10                                                NaN
11                      A personal computer or laptop
12                      A personal computer or laptop
13                      A personal computer or laptop
14                      A personal computer or laptop
15                      A personal computer or laptop
16                      A personal computer or laptop
17                      A personal computer or laptop
18  A cloud computing platform (AWS, Azure, GCP, h...
19                      A personal computer or laptop
20                      A personal computer or laptop
21                      A personal computer or laptop
22  A cloud computing platform (AWS, Azure, GCP, h...
23                      A personal computer or laptop
24                      A personal computer or laptop
25                      A personal computer or laptop
26                      A personal computer or laptop
27                      A personal computer or laptop
28                      A personal computer or laptop
29                      A personal computer or laptop

                                                  Q13  ...  \
0   Approximately how many times have you used a T...  ...
1                                           2-5 times  ...
2                                           2-5 times  ...
3                                               Never  ...
4                                           2-5 times  ...
5                                                 NaN  ...
6                                               Never  ...
7                                               Never  ...
8                                           2-5 times  ...
9                                           2-5 times  ...
10                                                NaN  ...
11                                              Never  ...
12                                              Never  ...
13                                              Never  ...
14                                         6-25 times  ...
15                                              Never  ...
16                                              Never  ...
17                                          2-5 times  ...
18                                               Once  ...
19                                          2-5 times  ...
20                                              Never  ...
21                                              Never  ...
22                                               Once  ...
23                                              Never  ...
24                                              Never  ...
25                                               Once  ...
26                                              Never  ...
27                                              Never  ...
28                                              Never  ...
29                                               Once  ...

                                                  Q37  \
0   On which platforms have you begun or completed...
1   Coursera,Kaggle Learn Courses,University Cours...
2                             Coursera,DataCamp,Udemy
3                          Coursera,edX,Udacity,Udemy
4   Coursera,DataCamp,LinkedIn Learning,University...
5                                                 NaN
6                                                 NaN
7                      Coursera,Fast.ai,Udacity,Udemy
8                                                 NaN
9    Coursera,Fast.ai,Udacity,Udemy,LinkedIn Learning
10                                                NaN
11                                                NaN
12                                               None
13  Kaggle Learn Courses,DataCamp,University Cours...
14       Coursera,Kaggle Learn Courses,DataCamp,Udemy
15     Coursera,Kaggle Learn Courses,DataCamp,Fast.ai
16  Coursera,University Courses (resulting in a un...
17                  Coursera,edX,Kaggle Learn Courses
18                                  LinkedIn Learning
19                                                NaN
20                                                NaN
21  Coursera,University Courses (resulting in a un...
22          Coursera,Kaggle Learn Courses,Udemy,Other
23    Coursera,Kaggle Learn Courses,LinkedIn Learning
24                Kaggle Learn Courses,DataCamp,Udemy
25  Cloud-certification programs (direct from AWS,...
26  Coursera,edX,Kaggle Learn Courses,DataCamp,Uda...
27                                           Coursera
28                                                NaN
29  Coursera,Kaggle Learn Courses,Fast.ai,Universi...

                                                  Q39  \
0   Who/what are your favorite media sources that ...
1   Kaggle (notebooks, forums, etc),Journal Public...
2   Twitter (data science influencers),Reddit (r/m...
3   Email newsletters (Data Elixir, O'Reilly Data ...
4                                                None
5                                                 NaN
6                                                 NaN
7   Reddit (r/machinelearning, etc),Kaggle (notebo...
8                                                 NaN
9   Email newsletters (Data Elixir, O'Reilly Data ...
10                                                NaN
11                                                NaN
12  Blogs (Towards Data Science, Analytics Vidhya,...
13  Kaggle (notebooks, forums, etc),YouTube (Kaggl...
14                    Kaggle (notebooks, forums, etc)
15  Journal Publications (peer-reviewed journals, ...
16  Course Forums (forums.fast.ai, Coursera forums...
17  Kaggle (notebooks, forums, etc),Course Forums ...
18  Kaggle (notebooks, forums, etc),Course Forums ...
19                                                NaN
20                                                NaN
21  Email newsletters (Data Elixir, O'Reilly Data ...
22  Kaggle (notebooks, forums, etc),YouTube (Kaggl...
23  Kaggle (notebooks, forums, etc),Podcasts (Chai...
24  YouTube (Kaggle YouTube, Cloud AI Adventures, ...
25  Reddit (r/machinelearning, etc),Kaggle (notebo...
26  Email newsletters (Data Elixir, O'Reilly Data ...
27                                              Other
28                                                NaN
29  Reddit (r/machinelearning, etc),Kaggle (notebo...

                                                  Q26  \
0   Which of the following cloud computing platfor...
1    Amazon Web Services (AWS) , Microsoft Azure ,...
2    Amazon Web Services (AWS) , Microsoft Azure ,...
3                                           None,None
4       Amazon Web Services (AWS) , Salesforce Cloud
5
6
7                          Amazon Web Services (AWS)
8                        Google Cloud Platform (GCP)
9        Amazon Web Services (AWS) , Microsoft Azure
10
11                                               None
12                                               None
13                                               None
14   Microsoft Azure , Google Cloud Platform (GCP)...
15     Microsoft Azure , Google Cloud Platform (GCP)
16                                               None
17       Amazon Web Services (AWS) , Microsoft Azure
18   Amazon Web Services (AWS) , Google Cloud Plat...
19
20   Amazon Web Services (AWS) , Microsoft Azure ,...
21   Google Cloud Platform (GCP) , IBM Cloud / Red...
22                                               None
23   Amazon Web Services (AWS) , IBM Cloud / Red Hat
24   Amazon Web Services (AWS) , Amazon Web Servic...
25       Amazon Web Services (AWS) , Microsoft Azure
26   Amazon Web Services (AWS) , Microsoft Azure ,...
27   Amazon Web Services (AWS) , Microsoft Azure ,...
28
29                                               None

                                                  Q27  \
0   Do you use any of the following cloud computin...
1    Azure Cloud Services , Microsoft Azure Contai...
2    Amazon EC2 , AWS Lambda , Azure Functions , G...
3
4                            Amazon EC2 , AWS Lambda
5
6
7    AWS Lambda , Azure Cloud Services , Microsoft...
8                               Azure Cloud Services
9    Amazon EC2 , Azure Cloud Services , Microsoft...
10
11
12
13
14     Azure Cloud Services , Google Cloud Functions
15            Azure Cloud Services , Azure Functions
16
17                 AWS Lambda , Azure Cloud Services
18   Amazon EC2 , AWS Lambda , Amazon Elastic Cont...
19
20   Azure Cloud Services , Azure Functions , Goog...
21   Microsoft Azure Container Instances , Google ...
22

In [132]:
df38 =df37.replace(r'\s+( +\.)|#',np.nan,regex=True).replace('',np.nan)

In [133]:
print(df38.head(30))

   Time from Start to Finish (seconds)     Q1  \
0                Duration (in seconds)    NaN
1                                 1838  35-39
2                               289287  30-34
3                                  860  35-39
4                                  507  30-34
5                                   78  30-34
6                                  401  30-34
7                                  748  22-24
8                               171196  25-29
9                                  762  35-39
10                                 150  22-24
11                                7469  18-21
12                                 742  35-39
13                                 535  22-24
14                                 378  30-34
15                                 623  30-34
16                                 413  18-21
17                                 397  25-29
18                                 437  22-24
19                                 192  22-24
20                                 267  18-21
21                                3313  22-24
22                                 874  30-34
23                                 815  55-59
24                                 694  35-39
25                                 571  50-54
26                                 723  25-29
27                                 433  18-21
28                                 273  18-21
29                                 545  30-34

                                        Q2  \
0   What is your gender? - Selected Choice
1                                      Man
2                                      Man
3                                      Man
4                                      Man
5                                      Man
6                                      Man
7                                      Man
8                                    Woman
9                                      Man
10                                     Man
11                                     Man
12                                     Man
13                                     Man
14                                     Man
15                                     Man
16                                   Woman
17                                   Woman
18                                     Man
19                                     Man
20                                     Man
21                                   Woman
22                                     Man
23                                   Woman
24                                     Man
25                                     Man
26                                   Woman
27                                     Man
28                                     Man
29                                     Man

                                           Q3  \
0   In which country do you currently reside?
1                                    Colombia
2                    United States of America
3                                   Argentina
4                    United States of America
5                                       Japan
6                                       India
7                                      Brazil
8                                       China
9                                     Germany
10                                      China
11                                      India
12                   United States of America
13                                  Indonesia
14                                     Canada
15                                Switzerland
16                                      India
17                                      Other
18                                  Singapore
19                                      India
20                                      India
21                                      India
22                                     Russia
23                                     Canada
24                               South Africa
25                   United States of America
26                   United States of America
27                                      India
28                                      Egypt
29                                Netherlands

                                                   Q4  \
0   What is the highest level of formal education ...
1                                     Doctoral degree
2                                     Master’s degree
3                                   Bachelor’s degree
4                                     Master’s degree
5                                     Master’s degree
6                                   Bachelor’s degree
7                                   Bachelor’s degree
8                                     Master’s degree
9                                     Doctoral degree
10               No formal education past high school
11                                  Bachelor’s degree
12                                    Doctoral degree
13                                  Bachelor’s degree
14                                  Bachelor’s degree
15                                  Bachelor’s degree
16                                  Bachelor’s degree
17                                  Bachelor’s degree
18                                  Bachelor’s degree
19                                  Bachelor’s degree
20                                  Bachelor’s degree
21                                    Doctoral degree
22                                  Bachelor’s degree
23                                    Master’s degree
24  Some college/university study without earning ...
25                                    Master’s degree
26                                    Master’s degree
27                                  Bachelor’s degree
28                                  Bachelor’s degree
29                                  Bachelor’s degree

                                                   Q5  \
0   Select the title most similar to your current ...
1                                             Student
2                                       Data Engineer
3                                   Software Engineer
4                                      Data Scientist
5                                   Software Engineer
6                                        Data Analyst
7                                             Student
8                                             Student
9                                      Data Scientist
10                                            Student
11                                            Student
12                                 Research Scientist
13                                            Student
14                                      Data Engineer
15                                              Other
16                                            Student
17                             Currently not employed
18                                            Student
19                                            Student
20                                            Student
21                                       Statistician
22                                     Data Scientist
23                            Product/Project Manager
24                                       Data Analyst
25                                  Software Engineer
26                                            Student
27                                            Student
28                                            Student
29                                  Software Engineer

                                                   Q6  \
0   For how many years have you been writing code ...
1                                          5-10 years
2                                          5-10 years
3                                         10-20 years
4                                          5-10 years
5                                           3-5 years
6                                           < 1 years
7                                           3-5 years
8                                           < 1 years
9                                          5-10 years
10                                          < 1 years
11                                          1-2 years
12                                          1-2 years
13                                          < 1 years
14                                          < 1 years
15                                          < 1 years
16                                          1-2 years
17                                          3-5 years
18                                          3-5 years
19                                          1-2 years
20                                          1-2 years
21                                          3-5 years
22                                          < 1 years
23                                          1-2 years
24                                          < 1 years
25                                          20+ years
26                                          1-2 years
27                                          3-5 years
28                                          1-2 years
29                                        10-20 years

                                                   Q8  \
0   What programming language would you recommend ...
1                                              Python
2                                              Python
3                                                   R
4                                              Python
5                                              Python
6                                              Python
7                                              Python
8                                                   R
9                                              Python
10                                             Python
11                                             Python
12                                                  R
13                                                  R
14                                             Python
15                                             Python
16                                                  R
17                                             Python
18                                             Python
19                                             Python
20                                                C++
21                                             Python
22                                             Python
23                                             Python
24                                             Python
25                                             Python
26                                             Python
27                                             Python
28                                             Python
29                                             Python

                                                  Q11  \
0   What type of computing platform do you use mos...
1   A cloud computing platform (AWS, Azure, GCP, h...
2                       A personal computer or laptop
3                       A personal computer or laptop
4   A cloud computing platform (AWS, Azure, GCP, h...
5                                                 NaN
6                       A personal computer or laptop
7                       A personal computer or laptop
8                                                None
9   A cloud computing platform (AWS, Azure, GCP, h...
10                                                NaN
11                      A personal computer or laptop
12                      A personal computer or laptop
13                      A personal computer or laptop
14                      A personal computer or laptop
15                      A personal computer or laptop
16                      A personal computer or laptop
17                      A personal computer or laptop
18  A cloud computing platform (AWS, Azure, GCP, h...
19                      A personal computer or laptop
20                      A personal computer or laptop
21                      A personal computer or laptop
22  A cloud computing platform (AWS, Azure, GCP, h...
23                      A personal computer or laptop
24                      A personal computer or laptop
25                      A personal computer or laptop
26                      A personal computer or laptop
27                      A personal computer or laptop
28                      A personal computer or laptop
29                      A personal computer or laptop

                                                  Q13  ...  \
0   Approximately how many times have you used a T...  ...
1                                           2-5 times  ...
2                                           2-5 times  ...
3                                               Never  ...
4                                           2-5 times  ...
5                                                 NaN  ...
6                                               Never  ...
7                                               Never  ...
8                                           2-5 times  ...
9                                           2-5 times  ...
10                                                NaN  ...
11                                              Never  ...
12                                              Never  ...
13                                              Never  ...
14                                         6-25 times  ...
15                                              Never  ...
16                                              Never  ...
17                                          2-5 times  ...
18                                               Once  ...
19                                          2-5 times  ...
20                                              Never  ...
21                                              Never  ...
22                                               Once  ...
23                                              Never  ...
24                                              Never  ...
25                                               Once  ...
26                                              Never  ...
27                                              Never  ...
28                                              Never  ...
29                                               Once  ...

                                                  Q37  \
0   On which platforms have you begun or completed...
1   Coursera,Kaggle Learn Courses,University Cours...
2                             Coursera,DataCamp,Udemy
3                          Coursera,edX,Udacity,Udemy
4   Coursera,DataCamp,LinkedIn Learning,University...
5                                                 NaN
6                                                 NaN
7                      Coursera,Fast.ai,Udacity,Udemy
8                                                 NaN
9    Coursera,Fast.ai,Udacity,Udemy,LinkedIn Learning
10                                                NaN
11                                                NaN
12                                               None
13  Kaggle Learn Courses,DataCamp,University Cours...
14       Coursera,Kaggle Learn Courses,DataCamp,Udemy
15     Coursera,Kaggle Learn Courses,DataCamp,Fast.ai
16  Coursera,University Courses (resulting in a un...
17                  Coursera,edX,Kaggle Learn Courses
18                                  LinkedIn Learning
19                                                NaN
20                                                NaN
21  Coursera,University Courses (resulting in a un...
22          Coursera,Kaggle Learn Courses,Udemy,Other
23    Coursera,Kaggle Learn Courses,LinkedIn Learning
24                Kaggle Learn Courses,DataCamp,Udemy
25  Cloud-certification programs (direct from AWS,...
26  Coursera,edX,Kaggle Learn Courses,DataCamp,Uda...
27                                           Coursera
28                                                NaN
29  Coursera,Kaggle Learn Courses,Fast.ai,Universi...

                                                  Q39  \
0   Who/what are your favorite media sources that ...
1   Kaggle (notebooks, forums, etc),Journal Public...
2   Twitter (data science influencers),Reddit (r/m...
3   Email newsletters (Data Elixir, O'Reilly Data ...
4                                                None
5                                                 NaN
6                                                 NaN
7   Reddit (r/machinelearning, etc),Kaggle (notebo...
8                                                 NaN
9   Email newsletters (Data Elixir, O'Reilly Data ...
10                                                NaN
11                                                NaN
12  Blogs (Towards Data Science, Analytics Vidhya,...
13  Kaggle (notebooks, forums, etc),YouTube (Kaggl...
14                    Kaggle (notebooks, forums, etc)
15  Journal Publications (peer-reviewed journals, ...
16  Course Forums (forums.fast.ai, Coursera forums...
17  Kaggle (notebooks, forums, etc),Course Forums ...
18  Kaggle (notebooks, forums, etc),Course Forums ...
19                                                NaN
20                                                NaN
21  Email newsletters (Data Elixir, O'Reilly Data ...
22  Kaggle (notebooks, forums, etc),YouTube (Kaggl...
23  Kaggle (notebooks, forums, etc),Podcasts (Chai...
24  YouTube (Kaggle YouTube, Cloud AI Adventures, ...
25  Reddit (r/machinelearning, etc),Kaggle (notebo...
26  Email newsletters (Data Elixir, O'Reilly Data ...
27                                              Other
28                                                NaN
29  Reddit (r/machinelearning, etc),Kaggle (notebo...

                                                  Q26  \
0   Which of the following cloud computing platfor...
1    Amazon Web Services (AWS) , Microsoft Azure ,...
2    Amazon Web Services (AWS) , Microsoft Azure ,...
3                                           None,None
4       Amazon Web Services (AWS) , Salesforce Cloud
5                                                 NaN
6                                                 NaN
7                          Amazon Web Services (AWS)
8                        Google Cloud Platform (GCP)
9        Amazon Web Services (AWS) , Microsoft Azure
10                                                NaN
11                                               None
12                                               None
13                                               None
14   Microsoft Azure , Google Cloud Platform (GCP)...
15     Microsoft Azure , Google Cloud Platform (GCP)
16                                               None
17       Amazon Web Services (AWS) , Microsoft Azure
18   Amazon Web Services (AWS) , Google Cloud Plat...
19                                                NaN
20   Amazon Web Services (AWS) , Microsoft Azure ,...
21   Google Cloud Platform (GCP) , IBM Cloud / Red...
22                                               None
23   Amazon Web Services (AWS) , IBM Cloud / Red Hat
24   Amazon Web Services (AWS) , Amazon Web Servic...
25       Amazon Web Services (AWS) , Microsoft Azure
26   Amazon Web Services (AWS) , Microsoft Azure ,...
27   Amazon Web Services (AWS) , Microsoft Azure ,...
28                                                NaN
29                                               None

                                                  Q27  \
0   Do you use any of the following cloud computin...
1    Azure Cloud Services , Microsoft Azure Contai...
2    Amazon EC2 , AWS Lambda , Azure Functions , G...
3                                                 NaN
4                            Amazon EC2 , AWS Lambda
5                                                 NaN
6                                                 NaN
7    AWS Lambda , Azure Cloud Services , Microsoft...
8                               Azure Cloud Services